In [1]:
import pandas as pd

In [2]:
filename = '../data/nyc-parking-violations-2020.csv'

df = pd.read_csv(filename,
                usecols=['Date First Observed', 'Plate ID', 'Registration State',
                        'Issue Date', 'Vehicle Make', 'Street Name', 'Vehicle Color'])
df.columns

Index(['Plate ID', 'Registration State', 'Issue Date', 'Vehicle Make',
       'Street Name', 'Date First Observed', 'Vehicle Color'],
      dtype='object')

In [11]:
filename = '../data/nyc-parking-violations-2020-min.csv'

df = pd.read_csv(filename)
df.columns

Index(['Unnamed: 0', 'Summons Number', 'Plate ID', 'Registration State',
       'Plate Type', 'Issue Date', 'Violation Code', 'Vehicle Body Type',
       'Vehicle Make', 'Issuing Agency', 'Street Code1', 'Street Code2',
       'Street Code3', 'Vehicle Expiration Date', 'Violation Location',
       'Violation Precinct', 'Issuer Precinct', 'Issuer Code',
       'Issuer Command', 'Issuer Squad', 'Violation Time',
       'Time First Observed', 'Violation County',
       'Violation In Front Of Or Opposite', 'House Number', 'Street Name',
       'Intersecting Street', 'Date First Observed', 'Law Section',
       'Sub Division', 'Violation Legal Code', 'Days Parking In Effect',
       'From Hours In Effect', 'To Hours In Effect', 'Vehicle Color',
       'Unregistered Vehicle?', 'Vehicle Year', 'Meter Number',
       'Feet From Curb', 'Violation Post Code', 'Violation Description',
       'No Standing or Stopping Violation', 'Hydrant Violation',
       'Double Parking Violation'],
      dtype='object')

In [12]:
df

,Unnamed: 0,Summons Number,Plate ID,Registration State,Plate Type,Issue Date,Violation Code,Vehicle Body Type,Vehicle Make,Issuing Agency,...,Vehicle Color,Unregistered Vehicle?,Vehicle Year,Meter Number,Feet From Curb,Violation Post Code,Violation Description,No Standing or Stopping Violation,Hydrant Violation,Double Parking Violation
0,9870307,8761941633,CYB4360,NY,PAS,03/03/2020 12:00:00 AM,21,SUBN,HONDA,T,...,WH,NaN,1999,NaN,0,C,NaN,NaN,NaN,NaN
1,2156228,4663104861,DBD5866,NY,PAS,08/19/2019 12:00:00 AM,36,SUBN,CHRYS,V,...,BL,NaN,2005,NaN,0,NaN,PHTO SCHOOL ZN SPEED VIOLATION,NaN,NaN,NaN
2,10824568,4683213503,ZUN12W,NJ,PAS,03/31/2020 12:00:00 AM,36,4 DR,BMW,V,...,GRY.,NaN,2003,NaN,0,NaN,PHTO SCHOOL ZN SPEED VIOLATION,NaN,NaN,NaN
3,12167484,4694413958,T678935C,NY,OMT,06/09/2020 12:00:00 AM,36,4DSD,TOYOT,V,...,BK,NaN,2019,NaN,0,NaN,PHTO SCHOOL ZN SPEED VIOLATION,NaN,NaN,NaN
4,4437454,4669269975,2DX1844,MD,PAS,10/11/2019 12:00:00 AM,36,TK,KIA,V,...,NaN,NaN,2019,NaN,0,NaN,PHTO SCHOOL ZN SPEED VIOLATION,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
249910,11616893,4013721960,89463MN,NY,COM,05/11/2020 12:00:00 AM,5,VAN,CHEVR,V,...,WH,NaN,1995,NaN,0,NaN,BUS LANE VIOLATION,NaN,NaN,NaN
249911,5140345,8690145576,JBG3705,NY,PAS,10/29/2019 12:00:00 AM,46,SUBN,TOYOT,T,...,RD,NaN,2015,NaN,0,43,NaN,NaN,NaN,NaN
249912,5977846,4671864460,ETF5965,NY,PAS,11/19/2019 12:00:00 AM,36,SUBN,JAGUA,V,...,BK,NaN,2019,NaN,0,NaN,PHTO SCHOOL ZN SPEED VIOLATION,NaN,NaN,NaN
249913,983770,8645596726,AVF4038,WA,PAS,07/22/2019 12:00:00 AM,21,VAN,FORD,T,...,WHITE,NaN,0,NaN,0,01,NaN,NaN,NaN,NaN
249914,7057424,4674069841,JFX4214,NY,PAS,12/19/2019 12:00:00 AM,36,SUBN,GMC,V,...,BK,NaN,2019,NaN,0,NaN,PHTO SCHOOL ZN SPEED VIOLATION,NaN,NaN,NaN

In [9]:
df1 = df.sample(frac=0.02)

In [10]:
df1.to_csv("../data/nyc-parking-violations-2020-min.csv")

In [10]:
# set the index to the "Issue Date" column
df = df.set_index('Issue Date')

In [4]:
# what three vehicle makes were most likely to be ticketed on January 2nd?
df.loc['01/02/2020 12:00:00 AM', 'Vehicle Make'].value_counts().head(3)

TOYOT    3829
HONDA    3593
FORD     3164
Name: Vehicle Make, dtype: int64

In [14]:
df.sample(10).to_json()

'{"Plate ID":{"04\\/21\\/2020 12:00:00 AM":"XGTF27","06\\/10\\/2020 12:00:00 AM":"CDZ4812","09\\/08\\/2019 12:00:00 AM":"J19LMF","12\\/06\\/2019 12:00:00 AM":"23044MM","05\\/19\\/2020 12:00:00 AM":"59302MK","10\\/15\\/2019 12:00:00 AM":"GWS9977","11\\/08\\/2019 12:00:00 AM":"HGW9256","10\\/16\\/2019 12:00:00 AM":"A41JTE","06\\/04\\/2020 12:00:00 AM":"HKP6907","06\\/17\\/2020 12:00:00 AM":"HYK7835"},"Registration State":{"04\\/21\\/2020 12:00:00 AM":"NJ","06\\/10\\/2020 12:00:00 AM":"GA","09\\/08\\/2019 12:00:00 AM":"NJ","12\\/06\\/2019 12:00:00 AM":"NY","05\\/19\\/2020 12:00:00 AM":"NY","10\\/15\\/2019 12:00:00 AM":"NY","11\\/08\\/2019 12:00:00 AM":"NY","10\\/16\\/2019 12:00:00 AM":"NJ","06\\/04\\/2020 12:00:00 AM":"NY","06\\/17\\/2020 12:00:00 AM":"NY"},"Vehicle Make":{"04\\/21\\/2020 12:00:00 AM":"FORD","06\\/10\\/2020 12:00:00 AM":"Mazda","09\\/08\\/2019 12:00:00 AM":"JEEP","12\\/06\\/2019 12:00:00 AM":"CHEVR","05\\/19\\/2020 12:00:00 AM":"MITSU","10\\/15\\/2019 12:00:00 AM":"JEEP","11\\/08\\/2019 12:00:00 AM":"NISSA","10\\/16\\/2019 12:00:00 AM":"VOLVO","06\\/04\\/2020 12:00:00 AM":"ACURA","06\\/17\\/2020 12:00:00 AM":"JEEP"},"Street Name":{"04\\/21\\/2020 12:00:00 AM":"NB WEST END AVE @ W","06\\/10\\/2020 12:00:00 AM":"NB VAN DAM ST @ 48TH","09\\/08\\/2019 12:00:00 AM":"E 86th St","12\\/06\\/2019 12:00:00 AM":"Hudson St","05\\/19\\/2020 12:00:00 AM":"W 15th St","10\\/15\\/2019 12:00:00 AM":"NB BRONX RIVER AVE @","11\\/08\\/2019 12:00:00 AM":"Martense St","10\\/16\\/2019 12:00:00 AM":"EB W 23RD ST @ 9TH A","06\\/04\\/2020 12:00:00 AM":"SB 80TH ST @ 78TH AV","06\\/17\\/2020 12:00:00 AM":"SB PENNSYLVANIA AVE"},"Date First Observed":{"04\\/21\\/2020 12:00:00 AM":0,"06\\/10\\/2020 12:00:00 AM":0,"09\\/08\\/2019 12:00:00 AM":0,"12\\/06\\/2019 12:00:00 AM":0,"05\\/19\\/2020 12:00:00 AM":0,"10\\/15\\/2019 12:00:00 AM":0,"11\\/08\\/2019 12:00:00 AM":0,"10\\/16\\/2019 12:00:00 AM":0,"06\\/04\\/2020 12:00:00 AM":0,"06\\/17\\/2020 12:00:00 AM":0},"Vehicle Color":{"04\\/21\\/2020 12:00:00 AM":"WT.","06\\/10\\/2020 12:00:00 AM":"BLUE","09\\/08\\/2019 12:00:00 AM":"BLACK","12\\/06\\/2019 12:00:00 AM":"BK","05\\/19\\/2020 12:00:00 AM":"WH","10\\/15\\/2019 12:00:00 AM":"WH","11\\/08\\/2019 12:00:00 AM":"GY","10\\/16\\/2019 12:00:00 AM":"WT","06\\/04\\/2020 12:00:00 AM":"RD","06\\/17\\/2020 12:00:00 AM":"GY"}}'

In [5]:
# On what five streets were cars most likely to be ticketed on June 1st, 2020?
df.loc['06/01/2020 12:00:00 AM', 'Street Name'].value_counts().head(5)

WB CONDUIT BLVD @ LI    1068
SB WEST ST @ LEROY S     335
EB HORACE HARDING EX     273
EB QUEENS BLVD @ 82N     245
WB ATLANTIC AVE @ CL     229
Name: Street Name, dtype: int64

In [6]:
# change the index to be "Vehicle Color"
df = df.reset_index().set_index('Vehicle Color')

In [7]:
# What was the most common make of ticketed cars that were either blue or red?
df.loc[['BLUE', 'RED'], 'Vehicle Make'].value_counts().head(1)

HONDA    39353
Name: Vehicle Make, dtype: int64