In [1]:
import pandas as pd
import numpy as np

**문제 1**

미국 뉴욕시의 2020년 주차위반 데이터셋을 이용한다.
전체 데이터셋은 아래 링크에서 다운받을 수 있는데 2.26GB 정도로 매우 크다.
따라서 여기서는 5000분의 1의 샘플을 무작위로 선택한 미니 데이터셋을 사용한다.

- 원본 csv 파일 다운로드: https://www.manning.com/books/pandas-workout

In [2]:
filename = '../data/nyc-parking-violations-2020-min.csv'

df = pd.read_csv(filename,
                usecols=['Date First Observed', 'Plate ID', 'Registration State',
                        'Issue Date', 'Vehicle Make', 'Street Name', 'Vehicle Color'])
df.columns

Index(['Plate ID', 'Registration State', 'Issue Date', 'Vehicle Make',
       'Street Name', 'Date First Observed', 'Vehicle Color'],
      dtype='object')

In [3]:
df

,Plate ID,Registration State,Issue Date,Vehicle Make,Street Name,Date First Observed,Vehicle Color
0,C15KHR,NJ,01/23/2020 12:00:00 AM,NISSA,Park Ave,0,BLACK
1,JET2329,NY,03/09/2020 12:00:00 AM,CHEVR,Ericson Pl,0,DKG
2,HTW7066,NY,04/03/2020 12:00:00 AM,LEXUS,NB MCGUINNESS BLVD @,0,GY
3,22105ME,NY,08/30/2019 12:00:00 AM,INTER,E 59th St,0,WH
4,HRD6376,NY,04/23/2020 12:00:00 AM,HONDA,SB RICHMOND RD @ NAR,0,BK
...,...,...,...,...,...,...,...
24987,520878R,NJ,12/19/2019 12:00:00 AM,HONDA,President St,0,GREY
24988,20238ML,NY,08/30/2019 12:00:00 AM,FORD,3rd Ave,20190830,WH
24989,CKV1282,NY,09/12/2019 12:00:00 AM,NISSA,82ND AVENUE,0,GRAY
24990,GZL9718,NY,07/09/2019 12:00:00 AM,JEEP,E 175th St,0,WH
24991,PAPAJOE4,NY,11/11/2019 12:00:00 AM,ACURA,SB BELL BLVD @ 18TH,0,BK

In [4]:
# set the index to the "Issue Date" column
df = df.set_index('Issue Date')

In [5]:
# what three vehicle makes were most likely to be ticketed on January 2nd?
df.loc['01/02/2020 12:00:00 AM', 'Vehicle Make'].value_counts().head(3)

NISSA    9
FORD     7
TOYOT    6
Name: Vehicle Make, dtype: int64

In [6]:
# On what five streets were cars most likely to be ticketed on June 1st, 2020?
df.loc['06/01/2020 12:00:00 AM', 'Street Name'].value_counts().head(5)

WB ATLANTIC AVE @ SH    2
WB LINDEN BLVD @ ROC    2
SB FRANCIS LEWIS BLV    2
WB GOETHALS RD N @ J    2
WB ATLANTIC AVE @ CL    1
Name: Street Name, dtype: int64

In [7]:
# change the index to be "Vehicle Color"
df = df.reset_index().set_index('Vehicle Color')

In [8]:
# What was the most common make of ticketed cars that were either blue or red?
df.loc[['BLUE', 'RED'], 'Vehicle Make'].value_counts().head(1)

HONDA    69
Name: Vehicle Make, dtype: int64

(1)

What were the three most commonly ticket car makes to be issued tickets on January 2nd through January 10th?

In [9]:
# set the index to the "Issue Date" column
df = df.set_index('Issue Date')

In [10]:
# We can use a slice, but only after sorting the index from lo
df = df.sort_index()

In [11]:
df

,Plate ID,Registration State,Vehicle Make,Street Name,Date First Observed
Issue Date,,,,,
01/01/2020 12:00:00 AM,HHT6914,NY,KIA,111 AVE,0
01/01/2020 12:00:00 AM,T672382C,NY,TOYOT,SB 2 Avenue @ E 101,0
01/01/2020 12:00:00 AM,HFS8244,NY,HYUND,CADMAN PLAZA (E/B) @,0
01/01/2020 12:00:00 AM,KXL1710,PA,TOYOT,EAST 21 STREET,0
01/02/2020 12:00:00 AM,GJE1053,NY,CADI,E/S 107TH STREET,0
...,...,...,...,...,...
12/31/2019 12:00:00 AM,FPF2427,NY,AUDI,SB ROCKAWAY PKWY @ A,0
12/31/2019 12:00:00 AM,4H93A2,TN,TOYOT,59th St,0
12/31/2019 12:00:00 AM,JHJ2790,NY,INFIN,EB JAMAICA AVE @ 193,0
12/31/2019 12:00:00 AM,768RRX,CT,FORD,E 3rd St,0
12/31/2019 12:00:00 AM,GYG7256,NY,HYUND,EB LINDEN BLVD @ HEM,0

In [12]:
df.loc['01/02/2020 12:00:00 AM':'01/10/2020 12:00:00 AM', 'Vehicle Make'].value_counts().head(3)

FORD     85
HONDA    84
TOYOT    68
Name: Vehicle Make, dtype: int64

(2)

How many tickets did the second-most-ticketed car get in 2020?  (And why am I not interested in the most-ticketed plate?) What state was that car from, and was it always ticketed in the same location?

In [13]:
# Most common plate is... BLANKPLATE!
# Second-most common is 2704819
df = df.reset_index()
df['Plate ID'].value_counts().head(2)

BLANKPLATE    15
70702PC        6
Name: Plate ID, dtype: int64

In [14]:
# It's from Indiana
df = df.set_index('Plate ID')
df.loc['2704819', 'Registration State']

Plate ID
2704819    IN
2704819    IN
2704819    IN
2704819    IN
2704819    IN
Name: Registration State, dtype: object

In [15]:
# was it always ticketed in the same place?  No, but there were a lot in the same area...
df.loc['2704819', 'Street Name'].value_counts()

Broadway     1
8 AVENUE     1
7th Ave      1
W 34th St    1
8th Ave      1
Name: Street Name, dtype: int64

(3)

Would it be useful to set the index to "Date First Observed"? Why or why not?

In [16]:
# Not very useful -- the value is set to 0 for 99% of the values!

df = df.reset_index()
df['Date First Observed'].value_counts()

0           24744
20200124        5
20200316        4
20190716        4
20200305        4
            ...
20190731        1
20200307        1
20190725        1
20200309        1
20191231        1
Name: Date First Observed, Length: 163, dtype: int64

**문제 2**

In [17]:
filename = '../data/sat-scores.csv'

df = pd.read_csv(filename,
                usecols=['Year', 'State.Code', 'Total.Math', 'Total.Test-takers', 'Total.Verbal'],
                index_col=['Year', 'State.Code'])
df.head()

                 Total.Math  Total.Test-takers  Total.Verbal
Year State.Code
2005 AL                 559               3985           567
     AK                 519               3996           523
     AZ                 530              18184           526
     AR                 552               1600           563
     CA                 522             186552           504

In [18]:
df.loc[(2010, ['NY', 'NJ', 'MA', 'IL']), 'Total.Math'].mean()

535.25

In [19]:
# How many people took the SAT, total, in 2005?
df.loc[2005, 'Total.Test-takers'].sum()

1344824

In [20]:
# What was the average SAT math score in 2010 from New York, New Jersey, Massachusetts, and Illinois?
df.loc[(2010, ['NY', 'NJ', 'MA', 'IL']), 'Total.Math'].mean()

535.25

In [21]:
# What was the average SAT verbal score in 2016-2018 from Arizona, California, and Texas?
df.loc[([2012,2013,2014,2015], ['AZ', 'CA', 'TX']), 'Total.Math'].mean()

511.5833333333333

(1)

What were the average math and verbal scores for Florida, Indiana, and Idaho across all years? (You don't break out the values by state.)

In [22]:
df.loc[(slice(None), ['FL', 'IN', 'ID']), ['Total.Math', 'Total.Verbal']].mean()

Total.Math      507.090909
Total.Verbal    504.606061
dtype: float64

(2)

Which state received the highest verbal score, and in which year?

In [23]:
df[df['Total.Verbal'] == df['Total.Verbal'].max()]

                 Total.Math  Total.Test-takers  Total.Verbal
Year State.Code
2013 ND                 613                174           612

(3)

Was the average math score in 2005 higher or lower than that in 2015?

In [24]:
# when we have a multi-index, we can ignore the second level 
df.loc[2005, 'Total.Math'].mean() - df.loc[2015, 'Total.Math'].mean()

2.559506531204647

**문제 3**

In [25]:
filename = '../data/olympic_athlete_events-min.csv'

df = pd.read_csv(filename,
                index_col=['Year', 'Season', 'Sport', 'Event'],
                usecols=['Age', 'Height', 'Team', 'Year', 'Season', 'City', 'Sport', 'Event', 'Medal'])
df = df.sort_index()
df.head(30)

                                                                            Age  \
Year Season Sport      Event
1896 Summer Athletics  Athletics Men's 1,500 metres                        23.0
                       Athletics Men's 1,500 metres                        24.0
                       Athletics Men's 100 metres                          21.0
                       Athletics Men's 100 metres                          23.0
                       Athletics Men's 400 metres                          25.0
                       Athletics Men's 800 metres                          17.0
                       Athletics Men's 800 metres                           NaN
                       Athletics Men's Marathon                            24.0
                       Athletics Men's Marathon                            23.0
                       Athletics Men's Marathon                             NaN
                       Athletics Men's Pole Vault                          24.0
                       Athletics Men's Pole Vault                           NaN
                       Athletics Men's Triple Jump                         27.0
            Cycling    Cycling Men's 10,000 metres                          NaN
                       Cycling Men's 100 kilometres                        23.0
                       Cycling Men's 100 kilometres                         NaN
                       Cycling Men's Road Race, Individual                  NaN
            Fencing    Fencing Men's Sabre, Individual                     29.0
            Gymnastics Gymnastics Men's Horse Vault                        19.0
                       Gymnastics Men's Horse Vault                        23.0
                       Gymnastics Men's Parallel Bars                      26.0
                       Gymnastics Men's Parallel Bars, Teams               31.0
                       Gymnastics Men's Rings                              21.0
            Shooting   Shooting Men's Free Rifle, Three Positions, 300...   NaN
                       Shooting Men's Free Rifle, Three Positions, 300...  27.0
                       Shooting Men's Military Pistol, 25 metres            NaN
                       Shooting Men's Military Pistol, 25 metres            NaN
                       Shooting Men's Military Pistol, 25 metres            NaN
                       Shooting Men's Military Rifle, 200 metres            NaN
                       Shooting Men's Military Rifle, 200 metres           39.0

                                                                           Height  \
Year Season Sport      Event
1896 Summer Athletics  Athletics Men's 1,500 metres                         154.0
                       Athletics Men's 1,500 metres                           NaN
                       Athletics Men's 100 metres                           183.0
                       Athletics Men's 100 metres                           176.0
                       Athletics Men's 400 metres                             NaN
                       Athletics Men's 800 metres                             NaN
                       Athletics Men's 800 metres                             NaN
                       Athletics Men's Marathon                               NaN
                       Athletics Men's Marathon                               NaN
                       Athletics Men's Marathon                               NaN
                       Athletics Men's Pole Vault                             NaN
                       Athletics Men's Pole Vault                             NaN
                       Athletics Men's Triple Jump                          175.0
            Cycling    Cycling Men's 10,000 metres                            NaN
                       Cycling Men's 100 kilometres                           NaN
                       Cycling Men's 100 kilometres                           NaN
                       Cycling Men's Road Race, Individual                    NaN
            Fencing    Fencing Men's Sabre, Individual                        NaN
            Gymnastics Gymnastics Men's Horse Vault                           NaN
                       Gymnastics Men's Horse Vault                           NaN
                       Gymnastics Men's Parallel Bars                         NaN
                       Gymnastics Men's Parallel Bars, Teams                  NaN
                       Gymnastics Men's Rings                                 NaN
            Shooting   Shooting Men's Free Rifle, Three Positions, 300...     NaN
                       Shooting Men's Free Rifle, Three Positions, 300...     NaN
                       Shooting Men's Military Pistol, 25 metres              NaN
                       Shooting Men's Military Pistol, 25 metres              NaN
                       Shooting Men's Military Pistol, 25 metres              NaN
                       Shooting Men's Military Rifle, 200 metres              NaN
                       Shooting Men's Military Rifle, 200 metres              NaN

                                                                                    Team  \
Year Season Sport      Event
1896 Summer Athletics  Athletics Men's 1,500 metres                              Germany
                       Athletics Men's 1,500 metres                        United States
                       Athletics Men's 100 metres                          United States
                       Athletics Men's 100 metres                          United States
                       Athletics Men's 400 metres                                 France
                       Athletics Men's 800 metres                                 France
                       Athletics Men's 800 metres                                 Greece
                       Athletics Men's Marathon                            United States
                       Athletics Men's Marathon                                   Greece
                       Athletics Men's Marathon                                   Greece
                       Athletics Men's Pole Vault                          United States
                       Athletics Men's Pole Vault                                 Greece
                       Athletics Men's Triple Jump                         United States
            Cycling    Cycling Men's 10,000 metres                                Greece
                       Cycling Men's 100 kilometres                              Austria
                       Cycling Men's 100 kilometres                              Germany
                       Cycling Men's Road Race, Individual                        Greece
            Fencing    Fencing Men's Sabre, Individual                           Denmark
            Gymnastics Gymnastics Men's Horse Vault                              Germany
                       Gymnastics Men's Horse Vault                              Hungary
                       Gymnastics Men's Parallel Bars                            Germany
                       Gymnastics Men's Parallel Bars, Teams                     Germany
                       Gymnastics Men's Rings                                    Germany
            Shooting   Shooting Men's Free Rifle, Three Positions, 300...         Greece
                       Shooting Men's Free Rifle, Three Positions, 300...         Greece
                       Shooting Men's Military Pistol, 25 metres                  Greece
                       Shooting Men's Military Pistol, 25 metres                  Greece
                       Shooting Men's Military Pistol, 25 metres                  Greece
                       Shooting Men's Military Rifle, 200 metres                  Greece
                       Shooting Men's Military Rifle, 200 metres           Great Britain

                                                                             City  \
Year Season Sport      Event
1896 Summer Athletics  Athletics Men's 1,500 metres                        Athina
                       Athletics Men's 1,500 metres                        Athina
                       Athletics Men's 100 metres                          Athina
                       Athletics Men's 100 metres                          Athina
                       Athletics Men's 400 metres                          Athina
                       Athletics Men's 800 metres                          Athina
                       Athletics Men's 800 metres                          Athina
                       Athletics Men's Marathon                            Athina
                       Athletics Men's Marathon                            Athina
                       Athletics Men's Marathon                            Athina
                       Athletics Men's Pole Vault                          Athina
                       Athletics Men's Pole Vault                          Athina
                       Athletics Men's Triple Jump                         Athina
            Cycling    Cycling Men's 10,000 metres                         Athina
                       Cycling Men's 100 kilometres                        Athina
                       Cycling Men's 100 kilometres                        Athina
                       Cycling Men's Road Race, Individual                 Athina
            Fencing    Fencing Men's Sabre, Individual                     Athina
            Gymnastics Gymnastics Men's Horse Vault                        Athina
                       Gymnastics Men's Horse Vault                        Athina
                       Gymnastics Men's Parallel Bars                      Athina
                       Gymnastics Men's Parallel Bars, Teams               Athina
                       Gymnastics Men's Rings                              Athina
            Shooting   Shooting Men's Free Rifle, Three Positions, 300...  Athina
                       Shooting Men's Free Rifle, Three Positions, 300...  Athina
                       Shooting Men's Military Pistol, 25 metres           Athina
                       Shooting Men's Military Pistol, 25 metres           Athina
                       Shooting Men's Military Pistol, 25 metres           Athina
                       Shooting Men's Military Rifle, 200 metres           Athina
                       Shooting Men's Military Rifle, 200 metres           Athina

                                                                            Medal
Year Season Sport      Event
1896 Summer Athletics  Athletics Men's 1,500 metres                           NaN
                       Athletics Men's 1,500 metres                        Silver
                       Athletics Men's 100 metres                            Gold
                       Athletics Men's 100 metres                             NaN
                       Athletics Men's 400 metres                             NaN
                       Athletics Men's 800 metres                             NaN
                       Athletics Men's 800 metres                             NaN
                       Athletics Men's Marathon                               NaN
                       Athletics Men's Marathon                              Gold
                       Athletics Men's Marathon                               NaN
                       Athletics Men's Pole Vault                          Silver
                       Athletics Men's Pole Vault                          Bronze
                       Athletics Men's Triple Jump                           Gold
            Cycling    Cycling Men's 10,000 metres                            NaN
                       Cycling Men's 100 kilometres                           NaN
                       Cycling Men's 100 kilometres                           NaN
                       Cycling Men's Road Race, Individual                    NaN
            Fencing    Fencing Men's Sabre, Individual                     Bronze
            Gymnastics Gymnastics Men's Horse Vault                           NaN
                       Gymnastics Men's Horse Vault                           NaN
                       Gymnastics Men's Parallel Bars                        Gold
                       Gymnastics Men's Parallel Bars, Teams                 Gold
                       Gymnastics Men's Rings                                 NaN
            Shooting   Shooting Men's Free Rifle, Three Positions, 300...     NaN
                       Shooting Men's Free Rifle, Three Positions, 300...     NaN
                       Shooting Men's Military Pistol, 25 metres              NaN
                       Shooting Men's Military Pistol, 25 metres              NaN
                       Shooting Men's Military Pistol, 25 metres              NaN
                       Shooting Men's Military Rifle, 200 metres           Bronze
                       Shooting Men's Military Rifle, 200 metres              NaN

In [26]:
# What is the average age for winning athletes in summer games held between 1936 and 2000?
df.loc[(slice(1936,2000), 'Summer'), 'Age'].mean()

25.04613567579538

In [27]:
# What team has won the greatest number of medals for all archery events?
df.loc[(slice(None), 'Summer', 'Archery'), 'Team'].value_counts()

United States         22
Great Britain         17
Japan                 13
China                 12
Australia             12
France                11
Turkey                10
Italy                  9
South Korea            9
Chinese Taipei         8
Poland                 8
Mexico                 7
Germany                7
Canada                 7
Ukraine                7
Belgium                6
India                  5
Finland                5
Netherlands            4
Kazakhstan             3
Mongolia               3
Spain                  3
Sweden                 3
Hong Kong              3
Greece                 3
Brazil                 3
North Korea            2
Belarus                2
Indonesia              2
Georgia                2
Russia                 2
Kenya                  2
Denmark                2
Bhutan                 2
West Germany           2
New Zealand            2
Thailand               2
Hungary                2
Philippines            1
Bangladesh             1
Slovakia               1
Venezuela              1
Malaysia               1
Costa Rica             1
Luxembourg             1
Potomac Archers        1
Egypt                  1
Fiji                   1
Uganda                 1
Portugal               1
Puerto Rico            1
Cincinnati Archers     1
Iran                   1
Name: Team, dtype: int64

In [28]:
# Starting in 1980, what is the average height of the event known as "Table Tennis Women's Team"?
df.loc[(slice(None), 'Summer', slice(None), "Table Tennis Women's Team"), 'Height'].mean()

166.6875

In [29]:
# Starting in 1980, what is the average height of either "Table Tennis Women's Team" or "Table Tennis Men's Team"?
df.loc[(slice(None), 'Summer', slice(None), ["Table Tennis Men's Team", "Table Tennis Women's Team"]), 'Height'].mean()

172.47368421052633

In [30]:
# How tall was the tallest-ever tennis medalist in Olympic games from 1980 until 2016?
df.loc[(slice(1980,2016), 'Summer', 'Tennis'), 'Height'].max()

198.0

(1)

Events take place in either summer or winter Olympic games, but not in both. As a result, the "Season" level in our multi-index is often unnecessary. Remove the "Season" level, and then find (again) the height of the tallest tennis medalist between 1980 and 2020.

In [31]:
df

                                                                  Age  Height  \
Year Season Sport     Event
1896 Summer Athletics Athletics Men's 1,500 metres               23.0   154.0
                      Athletics Men's 1,500 metres               24.0     NaN
                      Athletics Men's 100 metres                 21.0   183.0
                      Athletics Men's 100 metres                 23.0   176.0
                      Athletics Men's 400 metres                 25.0     NaN
...                                                               ...     ...
2016 Summer Wrestling Wrestling Women's Flyweight, Freestyle     34.0   160.0
                      Wrestling Women's Heavyweight, Freestyle   27.0   175.0
                      Wrestling Women's Lightweight, Freestyle   31.0   162.0
                      Wrestling Women's Lightweight, Freestyle   33.0   163.0
                      Wrestling Women's Middleweight, Freestyle  25.0   164.0

                                                                          Team  \
Year Season Sport     Event
1896 Summer Athletics Athletics Men's 1,500 metres                     Germany
                      Athletics Men's 1,500 metres               United States
                      Athletics Men's 100 metres                 United States
                      Athletics Men's 100 metres                 United States
                      Athletics Men's 400 metres                        France
...                                                                        ...
2016 Summer Wrestling Wrestling Women's Flyweight, Freestyle            Poland
                      Wrestling Women's Heavyweight, Freestyle          Canada
                      Wrestling Women's Lightweight, Freestyle      Azerbaijan
                      Wrestling Women's Lightweight, Freestyle            Peru
                      Wrestling Women's Middleweight, Freestyle         Sweden

                                                                           City  \
Year Season Sport     Event
1896 Summer Athletics Athletics Men's 1,500 metres                       Athina
                      Athletics Men's 1,500 metres                       Athina
                      Athletics Men's 100 metres                         Athina
                      Athletics Men's 100 metres                         Athina
                      Athletics Men's 400 metres                         Athina
...                                                                         ...
2016 Summer Wrestling Wrestling Women's Flyweight, Freestyle     Rio de Janeiro
                      Wrestling Women's Heavyweight, Freestyle   Rio de Janeiro
                      Wrestling Women's Lightweight, Freestyle   Rio de Janeiro
                      Wrestling Women's Lightweight, Freestyle   Rio de Janeiro
                      Wrestling Women's Middleweight, Freestyle  Rio de Janeiro

                                                                  Medal
Year Season Sport     Event
1896 Summer Athletics Athletics Men's 1,500 metres                  NaN
                      Athletics Men's 1,500 metres               Silver
                      Athletics Men's 100 metres                   Gold
                      Athletics Men's 100 metres                    NaN
                      Athletics Men's 400 metres                    NaN
...                                                                 ...
2016 Summer Wrestling Wrestling Women's Flyweight, Freestyle        NaN
                      Wrestling Women's Heavyweight, Freestyle     Gold
                      Wrestling Women's Lightweight, Freestyle      NaN
                      Wrestling Women's Lightweight, Freestyle      NaN
                      Wrestling Women's Middleweight, Freestyle     NaN

[27112 rows x 5 columns]

In [32]:
df = df.reset_index('Season')

In [33]:
df

                                                          Season   Age  \
Year Sport     Event
1896 Athletics Athletics Men's 1,500 metres               Summer  23.0
               Athletics Men's 1,500 metres               Summer  24.0
               Athletics Men's 100 metres                 Summer  21.0
               Athletics Men's 100 metres                 Summer  23.0
               Athletics Men's 400 metres                 Summer  25.0
...                                                          ...   ...
2016 Wrestling Wrestling Women's Flyweight, Freestyle     Summer  34.0
               Wrestling Women's Heavyweight, Freestyle   Summer  27.0
               Wrestling Women's Lightweight, Freestyle   Summer  31.0
               Wrestling Women's Lightweight, Freestyle   Summer  33.0
               Wrestling Women's Middleweight, Freestyle  Summer  25.0

                                                          Height  \
Year Sport     Event
1896 Athletics Athletics Men's 1,500 metres                154.0
               Athletics Men's 1,500 metres                  NaN
               Athletics Men's 100 metres                  183.0
               Athletics Men's 100 metres                  176.0
               Athletics Men's 400 metres                    NaN
...                                                          ...
2016 Wrestling Wrestling Women's Flyweight, Freestyle      160.0
               Wrestling Women's Heavyweight, Freestyle    175.0
               Wrestling Women's Lightweight, Freestyle    162.0
               Wrestling Women's Lightweight, Freestyle    163.0
               Wrestling Women's Middleweight, Freestyle   164.0

                                                                   Team  \
Year Sport     Event
1896 Athletics Athletics Men's 1,500 metres                     Germany
               Athletics Men's 1,500 metres               United States
               Athletics Men's 100 metres                 United States
               Athletics Men's 100 metres                 United States
               Athletics Men's 400 metres                        France
...                                                                 ...
2016 Wrestling Wrestling Women's Flyweight, Freestyle            Poland
               Wrestling Women's Heavyweight, Freestyle          Canada
               Wrestling Women's Lightweight, Freestyle      Azerbaijan
               Wrestling Women's Lightweight, Freestyle            Peru
               Wrestling Women's Middleweight, Freestyle         Sweden

                                                                    City  \
Year Sport     Event
1896 Athletics Athletics Men's 1,500 metres                       Athina
               Athletics Men's 1,500 metres                       Athina
               Athletics Men's 100 metres                         Athina
               Athletics Men's 100 metres                         Athina
               Athletics Men's 400 metres                         Athina
...                                                                  ...
2016 Wrestling Wrestling Women's Flyweight, Freestyle     Rio de Janeiro
               Wrestling Women's Heavyweight, Freestyle   Rio de Janeiro
               Wrestling Women's Lightweight, Freestyle   Rio de Janeiro
               Wrestling Women's Lightweight, Freestyle   Rio de Janeiro
               Wrestling Women's Middleweight, Freestyle  Rio de Janeiro

                                                           Medal
Year Sport     Event
1896 Athletics Athletics Men's 1,500 metres                  NaN
               Athletics Men's 1,500 metres               Silver
               Athletics Men's 100 metres                   Gold
               Athletics Men's 100 metres                    NaN
               Athletics Men's 400 metres                    NaN
...                                                          ...
2016 Wrestling Wrestling Women's Flyweight, Freestyle        NaN
               Wrestling Women's Heavyweight, Freestyle     Gold
               Wrestling Women's Lightweight, Freestyle      NaN
               Wrestling Women's Lightweight, Freestyle      NaN
               Wrestling Women's Middleweight, Freestyle     NaN

[27112 rows x 6 columns]

In [34]:
df.loc[(slice(1980,2020), 'Tennis'), 'Height'].max()

198.0

(2)

In which city were the greatest number of gold medals awarded from 1980 onward?

In [35]:
df = df.reset_index(['Sport', 'Event'])

In [36]:
df

,Sport,Event,Season,Age,Height,Team,City,Medal
Year,,,,,,,,
1896,Athletics,"Athletics Men's 1,500 metres",Summer,23.0,154.0,Germany,Athina,NaN
1896,Athletics,"Athletics Men's 1,500 metres",Summer,24.0,NaN,United States,Athina,Silver
1896,Athletics,Athletics Men's 100 metres,Summer,21.0,183.0,United States,Athina,Gold
1896,Athletics,Athletics Men's 100 metres,Summer,23.0,176.0,United States,Athina,NaN
1896,Athletics,Athletics Men's 400 metres,Summer,25.0,NaN,France,Athina,NaN
...,...,...,...,...,...,...,...,...
2016,Wrestling,"Wrestling Women's Flyweight, Freestyle",Summer,34.0,160.0,Poland,Rio de Janeiro,NaN
2016,Wrestling,"Wrestling Women's Heavyweight, Freestyle",Summer,27.0,175.0,Canada,Rio de Janeiro,Gold
2016,Wrestling,"Wrestling Women's Lightweight, Freestyle",Summer,31.0,162.0,Azerbaijan,Rio de Janeiro,NaN
2016,Wrestling,"Wrestling Women's Lightweight, Freestyle",Summer,33.0,163.0,Peru,Rio de Janeiro,NaN
2016,Wrestling,"Wrestling Women's Middleweight, Freestyle",Summer,25.0,164.0,Sweden,Rio de Janeiro,NaN

In [37]:
df = df.set_index('Medal', append=True)

In [38]:
df

                 Sport                                      Event  Season  \
Year Medal
1896 NaN     Athletics               Athletics Men's 1,500 metres  Summer
     Silver  Athletics               Athletics Men's 1,500 metres  Summer
     Gold    Athletics                 Athletics Men's 100 metres  Summer
     NaN     Athletics                 Athletics Men's 100 metres  Summer
     NaN     Athletics                 Athletics Men's 400 metres  Summer
...                ...                                        ...     ...
2016 NaN     Wrestling     Wrestling Women's Flyweight, Freestyle  Summer
     Gold    Wrestling   Wrestling Women's Heavyweight, Freestyle  Summer
     NaN     Wrestling   Wrestling Women's Lightweight, Freestyle  Summer
     NaN     Wrestling   Wrestling Women's Lightweight, Freestyle  Summer
     NaN     Wrestling  Wrestling Women's Middleweight, Freestyle  Summer

              Age  Height           Team            City
Year Medal
1896 NaN     23.0   154.0        Germany          Athina
     Silver  24.0     NaN  United States          Athina
     Gold    21.0   183.0  United States          Athina
     NaN     23.0   176.0  United States          Athina
     NaN     25.0     NaN         France          Athina
...           ...     ...            ...             ...
2016 NaN     34.0   160.0         Poland  Rio de Janeiro
     Gold    27.0   175.0         Canada  Rio de Janeiro
     NaN     31.0   162.0     Azerbaijan  Rio de Janeiro
     NaN     33.0   163.0           Peru  Rio de Janeiro
     NaN     25.0   164.0         Sweden  Rio de Janeiro

[27112 rows x 7 columns]

In [39]:
df.loc[(slice(1980,2016), 'Gold'), 'City']

Year  Medal
1980  Gold             Moskva
      Gold             Moskva
      Gold             Moskva
      Gold             Moskva
      Gold             Moskva
                    ...
2016  Gold     Rio de Janeiro
      Gold     Rio de Janeiro
      Gold     Rio de Janeiro
      Gold     Rio de Janeiro
      Gold     Rio de Janeiro
Name: City, Length: 741, dtype: object

In [40]:
df.loc[(slice(1980,2016), 'Gold'), 'City'].value_counts().index[0]

'Sydney'

`slice()` 함수 대신 `pd.IndexSlice` 객체 사용 가능

In [41]:
idx = pd.IndexSlice

In [42]:
df.loc[idx[1980:, 'Gold'], 'City'].value_counts().index[0]

'Sydney'

(3)

How many gold medals were received by the United States since 1980? (Use the index to select the values.)

In [43]:
df = df.set_index('Team', append=True)
df

                               Sport  \
Year Medal  Team
1896 NaN    Germany        Athletics
     Silver United States  Athletics
     Gold   United States  Athletics
     NaN    United States  Athletics
            France         Athletics
...                              ...
2016 NaN    Poland         Wrestling
     Gold   Canada         Wrestling
     NaN    Azerbaijan     Wrestling
            Peru           Wrestling
            Sweden         Wrestling

                                                               Event  Season  \
Year Medal  Team
1896 NaN    Germany                     Athletics Men's 1,500 metres  Summer
     Silver United States               Athletics Men's 1,500 metres  Summer
     Gold   United States                 Athletics Men's 100 metres  Summer
     NaN    United States                 Athletics Men's 100 metres  Summer
            France                        Athletics Men's 400 metres  Summer
...                                                              ...     ...
2016 NaN    Poland            Wrestling Women's Flyweight, Freestyle  Summer
     Gold   Canada          Wrestling Women's Heavyweight, Freestyle  Summer
     NaN    Azerbaijan      Wrestling Women's Lightweight, Freestyle  Summer
            Peru            Wrestling Women's Lightweight, Freestyle  Summer
            Sweden         Wrestling Women's Middleweight, Freestyle  Summer

                            Age  Height            City
Year Medal  Team
1896 NaN    Germany        23.0   154.0          Athina
     Silver United States  24.0     NaN          Athina
     Gold   United States  21.0   183.0          Athina
     NaN    United States  23.0   176.0          Athina
            France         25.0     NaN          Athina
...                         ...     ...             ...
2016 NaN    Poland         34.0   160.0  Rio de Janeiro
     Gold   Canada         27.0   175.0  Rio de Janeiro
     NaN    Azerbaijan     31.0   162.0  Rio de Janeiro
            Peru           33.0   163.0  Rio de Janeiro
            Sweden         25.0   164.0  Rio de Janeiro

[27112 rows x 6 columns]

In [44]:
df.loc[idx[1980:, 'Gold', 'United States'], 'Sport'].count()

122

**문제 4**

In [45]:
df = df.reset_index()
df

,Year,Medal,Team,Sport,Event,Season,Age,Height,City
0,1896,NaN,Germany,Athletics,"Athletics Men's 1,500 metres",Summer,23.0,154.0,Athina
1,1896,Silver,United States,Athletics,"Athletics Men's 1,500 metres",Summer,24.0,NaN,Athina
2,1896,Gold,United States,Athletics,Athletics Men's 100 metres,Summer,21.0,183.0,Athina
3,1896,NaN,United States,Athletics,Athletics Men's 100 metres,Summer,23.0,176.0,Athina
4,1896,NaN,France,Athletics,Athletics Men's 400 metres,Summer,25.0,NaN,Athina
...,...,...,...,...,...,...,...,...,...
27107,2016,NaN,Poland,Wrestling,"Wrestling Women's Flyweight, Freestyle",Summer,34.0,160.0,Rio de Janeiro
27108,2016,Gold,Canada,Wrestling,"Wrestling Women's Heavyweight, Freestyle",Summer,27.0,175.0,Rio de Janeiro
27109,2016,NaN,Azerbaijan,Wrestling,"Wrestling Women's Lightweight, Freestyle",Summer,31.0,162.0,Rio de Janeiro
27110,2016,NaN,Peru,Wrestling,"Wrestling Women's Lightweight, Freestyle",Summer,33.0,163.0,Rio de Janeiro
27111,2016,NaN,Sweden,Wrestling,"Wrestling Women's Middleweight, Freestyle",Summer,25.0,164.0,Rio de Janeiro

In [46]:
df = df.drop(["City", "Event"], axis=1)
df

       Year   Medal           Team      Sport  Season   Age  Height
0      1896     NaN        Germany  Athletics  Summer  23.0   154.0
1      1896  Silver  United States  Athletics  Summer  24.0     NaN
2      1896    Gold  United States  Athletics  Summer  21.0   183.0
3      1896     NaN  United States  Athletics  Summer  23.0   176.0
4      1896     NaN         France  Athletics  Summer  25.0     NaN
...     ...     ...            ...        ...     ...   ...     ...
27107  2016     NaN         Poland  Wrestling  Summer  34.0   160.0
27108  2016    Gold         Canada  Wrestling  Summer  27.0   175.0
27109  2016     NaN     Azerbaijan  Wrestling  Summer  31.0   162.0
27110  2016     NaN           Peru  Wrestling  Summer  33.0   163.0
27111  2016     NaN         Sweden  Wrestling  Summer  25.0   164.0

[27112 rows x 7 columns]

In [47]:
df = df[df['Team'].isin(['Germany', 'United States', 'Hungary', 'South Korea', 'Mexico', 'Thailand'])]
df

       Year   Medal           Team          Sport  Season   Age  Height
0      1896     NaN        Germany      Athletics  Summer  23.0   154.0
1      1896  Silver  United States      Athletics  Summer  24.0     NaN
2      1896    Gold  United States      Athletics  Summer  21.0   183.0
3      1896     NaN  United States      Athletics  Summer  23.0   176.0
7      1896     NaN  United States      Athletics  Summer  24.0     NaN
...     ...     ...            ...            ...     ...   ...     ...
27059  2016     NaN        Hungary     Water Polo  Summer  25.0   172.0
27068  2016  Bronze    South Korea  Weightlifting  Summer  29.0   158.0
27077  2016     NaN        Germany  Weightlifting  Summer  25.0   156.0
27085  2016     NaN    South Korea      Wrestling  Summer  24.0   166.0
27103  2016     NaN    South Korea      Wrestling  Summer  28.0   168.0

[4258 rows x 7 columns]

In [49]:
df = df[df['Year'] >= 1980]

df

       Year   Medal         Team          Sport  Season   Age  Height
11382  1980     NaN      Hungary        Archery  Summer  36.0   180.0
11387  1980     NaN       Mexico      Athletics  Summer  29.0   173.0
11396  1980     NaN      Hungary      Athletics  Summer  24.0   170.0
11439  1980     NaN       Mexico      Athletics  Summer  28.0   175.0
11440  1980     NaN      Hungary      Athletics  Summer  24.0   176.0
...     ...     ...          ...            ...     ...   ...     ...
27059  2016     NaN      Hungary     Water Polo  Summer  25.0   172.0
27068  2016  Bronze  South Korea  Weightlifting  Summer  29.0   158.0
27077  2016     NaN      Germany  Weightlifting  Summer  25.0   156.0
27085  2016     NaN  South Korea      Wrestling  Summer  24.0   166.0
27103  2016     NaN  South Korea      Wrestling  Summer  28.0   168.0

[2340 rows x 7 columns]

In [50]:
# What was the average age of olympic participants?
# In which country do medalists appear to consistently be the youngest?

pd.pivot_table(df, index='Year', columns='Team', values='Age')

Team    Germany    Hungary     Mexico  South Korea   Thailand  United States
Year
1980        NaN  23.238095  21.285714    18.750000        NaN      22.500000
1984        NaN  18.500000  21.875000    20.937500  27.333333      24.827957
1988        NaN  23.266667  23.750000    21.369231  21.500000      25.488372
1992  24.469880  22.523810  23.470588    21.560976  24.166667      24.814433
1994  26.315789  22.500000  35.000000    14.500000        NaN      26.315789
1996  25.733333  25.235294  24.000000    21.800000  20.166667      26.277778
1998  24.761905  22.333333        NaN    20.500000        NaN      25.869565
2000  28.315789  25.347826  24.866667    25.225806  22.285714      26.486842
2002  25.181818  26.250000        NaN    20.300000        NaN      25.692308
2004  26.464286  24.954545  27.300000    25.447368  23.125000      25.392405
2006  27.000000  23.200000        NaN    20.818182        NaN      24.500000
2008  27.414634  24.772727  26.153846    24.970588  24.000000      26.600000
2010  27.666667  25.000000  51.000000    23.777778        NaN      25.676471
2012  27.683333  25.333333  23.000000    25.342857  22.500000      26.888889
2014  25.037037  22.800000        NaN    22.666667        NaN      26.769231
2016  26.000000  26.312500  24.500000    26.653846  24.800000      27.000000

In [52]:
# How many medals did each country get in each year?
# Why does Switzerland seem to have more medals in years when other countries have fewer medals?
pd.pivot_table(df, index='Year', columns='Team', values='Medal', aggfunc=np.size)

Team  Germany  Hungary  Mexico  South Korea  Thailand  United States
Year
1980      NaN     42.0     7.0          4.0       NaN           12.0
1984      NaN      2.0    16.0         32.0       3.0           93.0
1988      NaN     45.0    16.0         65.0       2.0           86.0
1992     83.0     42.0    17.0         41.0       6.0           97.0
1994     19.0      2.0     1.0          2.0       NaN           19.0
1996     75.0     34.0    10.0         40.0       6.0           72.0
1998     21.0      3.0     NaN          8.0       NaN           23.0
2000     57.0     23.0    15.0         31.0       7.0           76.0
2002     33.0      8.0     NaN         10.0       NaN           26.0
2004     56.0     22.0    20.0         38.0       8.0           79.0
2006     25.0      5.0     NaN         11.0       NaN           28.0
2008     41.0     22.0    13.0         34.0       7.0           70.0
2010     18.0      4.0     1.0          9.0       NaN           34.0
2012     60.0     21.0    12.0         35.0       6.0           63.0
2014     27.0      5.0     NaN          9.0       NaN           26.0
2016     63.0     16.0    12.0         26.0       5.0           77.0

In [53]:
# How tall was the tallest athlete in each sport in each year?
pd.pivot_table(df, index='Sport', columns='Year', values='Height', aggfunc=np.max)

Year,1980,1984,1988,1992,1994,1996,1998,2000,2002,2004,2006,2008,2010,2012,2014,2016
Sport,,,,,,,,,,,,,,,,
Alpine Skiing,175.0,174.0,183.0,183.0,183.0,NaN,188.0,NaN,178.0,NaN,188.0,NaN,188.0,NaN,188.0,NaN
Archery,180.0,185.0,165.0,191.0,NaN,183.0,NaN,183.0,NaN,193.0,NaN,181.0,NaN,187.0,NaN,167.0
Athletics,176.0,190.0,191.0,196.0,NaN,197.0,NaN,197.0,NaN,204.0,NaN,201.0,NaN,191.0,NaN,198.0
Badminton,NaN,NaN,NaN,183.0,NaN,185.0,NaN,179.0,NaN,179.0,NaN,NaN,NaN,178.0,NaN,183.0
Baseball,NaN,NaN,NaN,183.0,NaN,187.0,NaN,190.0,NaN,NaN,NaN,190.0,NaN,NaN,NaN,NaN
Basketball,185.0,195.0,188.0,213.0,NaN,170.0,NaN,196.0,NaN,191.0,NaN,206.0,NaN,203.0,NaN,193.0
Biathlon,NaN,190.0,188.0,175.0,178.0,NaN,180.0,NaN,191.0,NaN,191.0,NaN,180.0,NaN,188.0,NaN
Bobsleigh,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,184.0,NaN,188.0,NaN,NaN,NaN,NaN,NaN
Boxing,168.0,165.0,190.0,176.0,NaN,183.0,NaN,180.0,NaN,190.0,NaN,173.0,NaN,168.0,NaN,191.0
Canoeing,NaN,193.0,190.0,193.0,NaN,187.0,NaN,182.0,NaN,188.0,NaN,188.0,NaN,192.0,NaN,192.0
Cross Country Skiing,183.0,178.0,183.0,188.0,190.0,NaN,185.0,NaN,185.0,NaN,188.0,NaN,188.0,NaN,188.0,NaN
Curling,NaN,NaN,NaN,NaN,NaN,NaN,170.0,NaN,186.0,NaN,182.0,NaN,170.0,NaN,183.0,NaN
Cycling,186.0,180.0,195.0,186.0,NaN,186.0,NaN,187.0,NaN,183.0,NaN,186.0,NaN,196.0,NaN,188.0
Diving,176.0,165.0,175.0,183.0,NaN,183.0,NaN,170.0,NaN,180.0,NaN,180.0,NaN,183.0,NaN,173.0
Equestrianism,NaN,187.0,183.0,190.0,NaN,178.0,NaN,190.0,NaN,188.0,NaN,183.0,NaN,188.0,NaN,173.0
Fencing,190.0,190.0,208.0,199.0,NaN,188.0,NaN,193.0,NaN,193.0,NaN,193.0,NaN,182.0,NaN,192.0
Figure Skating,NaN,NaN,173.0,178.0,NaN,NaN,177.0,NaN,179.0,NaN,168.0,NaN,171.0,NaN,193.0,NaN
Football,NaN,188.0,177.0,193.0,NaN,185.0,NaN,173.0,NaN,185.0,NaN,183.0,NaN,190.0,NaN,195.0
Freestyle Skiing,NaN,NaN,NaN,NaN,165.0,NaN,165.0,NaN,180.0,NaN,NaN,NaN,190.0,NaN,189.0,NaN
Golf,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,172.0
Gymnastics,171.0,174.0,175.0,184.0,NaN,170.0,NaN,179.0,NaN,171.0,NaN,172.0,NaN,172.0,NaN,173.0
Handball,183.0,198.0,198.0,194.0,NaN,190.0,NaN,198.0,NaN,211.0,NaN,192.0,NaN,200.0,NaN,194.0
Hockey,NaN,175.0,179.0,176.0,NaN,190.0,NaN,175.0,NaN,185.0,NaN,177.0,NaN,174.0,NaN,168.0
Ice Hockey,180.0,185.0,185.0,188.0,185.0,NaN,190.0,NaN,190.0,NaN,178.0,NaN,180.0,NaN,169.0,NaN
Judo,182.0,180.0,175.0,182.0,NaN,200.0,NaN,181.0,NaN,192.0,NaN,191.0,NaN,179.0,NaN,171.0
Luge,188.0,NaN,183.0,173.0,NaN,NaN,188.0,NaN,180.0,NaN,167.0,NaN,NaN,NaN,181.0,NaN
Modern Pentathlon,180.0,176.0,185.0,181.0,NaN,178.0,NaN,179.0,NaN,178.0,NaN,180.0,NaN,187.0,NaN,179.0
Nordic Combined,NaN,NaN,193.0,173.0,180.0,NaN,184.0,NaN,178.0,NaN,179.0,NaN,185.0,NaN,NaN,NaN
Rhythmic Gymnastics,NaN,NaN,156.0,163.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Rowing,185.0,193.0,187.0,208.0,NaN,198.0,NaN,196.0,NaN,206.0,NaN,190.0,NaN,198.0,NaN,196.0
Rugby Sevens,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,178.0
Sailing,182.0,185.0,192.0,188.0,NaN,177.0,NaN,188.0,NaN,184.0,NaN,188.0,NaN,194.0,NaN,195.0
Shooting,177.0,178.0,183.0,188.0,NaN,182.0,NaN,185.0,NaN,180.0,NaN,183.0,NaN,187.0,NaN,188.0
Short Track Speed Skating,NaN,NaN,NaN,172.0,165.0,NaN,181.0,NaN,180.0,NaN,186.0,NaN,183.0,NaN,173.0,NaN
Skeleton,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,185.0,NaN,NaN,NaN,NaN,NaN
Ski Jumping,NaN,180.0,180.0,185.0,184.0,NaN,184.0,NaN,184.0,NaN,187.0,NaN,189.0,NaN,183.0,NaN
Snowboarding,NaN,NaN,NaN,NaN,NaN,NaN,189.0,NaN,163.0,NaN,NaN,NaN,178.0,NaN,185.0,NaN
Softball,NaN,NaN,NaN,NaN,NaN,NaN,NaN,183.0,NaN,183.0,NaN,188.0,NaN,NaN,NaN,NaN
Speed Skating,181.0,182.0,183.0,183.0,189.0,NaN,199.0,NaN,193.0,NaN,180.0,NaN,188.0,NaN,188.0,NaN
Swimming,187.0,190.0,200.0,201.0,NaN,199.0,NaN,202.0,NaN,198.0,NaN,203.0,NaN,198.0,NaN,198.0
Synchronized Swimming,NaN,162.0,162.0,NaN,NaN,172.0,NaN,175.0,NaN,NaN,NaN,160.0,NaN,168.0,NaN,NaN
Table Tennis,NaN,NaN,183.0,193.0,NaN,193.0,NaN,182.0,NaN,165.0,NaN,179.0,NaN,181.0,NaN,186.0
Taekwondo,NaN,NaN,NaN,NaN,NaN,NaN,NaN,178.0,NaN,175.0,NaN,176.0,NaN,179.0,NaN,191.0
Tennis,NaN,NaN,185.0,173.0,NaN,180.0,NaN,191.0,NaN,192.0,NaN,180.0,NaN,184.0,NaN,196.0
Trampolining,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,158.0,NaN,NaN
Triathlon,NaN,NaN,NaN,NaN,NaN,NaN,NaN,181.0,NaN,184.0,NaN,164.0,NaN,194.0,NaN,183.0
Volleyball,176.0,193.0,190.0,195.0,NaN,195.0,NaN,200.0,NaN,209.0,NaN,198.0,NaN,203.0,NaN,201.0
Water Polo,194.0,198.0,195.0,197.0,NaN,198.0,NaN,182.0,NaN,193.0,NaN,201.0,NaN,201.0,NaN,175.0
Weightlifting,168.0,NaN,185.0,182.0,NaN,178.0,NaN,180.0,NaN,183.0,NaN,170.0,NaN,183.0,NaN,158.0
Wrestling,175.0,164.0,183.0,180.0,NaN,188.0,NaN,175.0,NaN,175.0,NaN,173.0,NaN,198.0,NaN,168.0

(1) 

Create a pivot table that shows the number of medals that each team won per year, with the index including not just the year but also the season in which the games took place.

In [54]:
pd.pivot_table(df, index=['Year', 'Season'], columns='Team', values='Medal', aggfunc=np.size)

Team         Germany  Hungary  Mexico  South Korea  Thailand  United States
Year Season
1980 Summer      NaN     42.0     7.0          NaN       NaN            NaN
     Winter      NaN      NaN     NaN          4.0       NaN           12.0
1984 Summer      NaN      NaN    16.0         28.0       3.0           77.0
     Winter      NaN      2.0     NaN          4.0       NaN           16.0
1988 Summer      NaN     43.0    15.0         59.0       2.0           65.0
     Winter      NaN      2.0     1.0          6.0       NaN           21.0
1992 Summer     70.0     37.0    13.0         32.0       6.0           74.0
     Winter     13.0      5.0     4.0          9.0       NaN           23.0
1994 Winter     19.0      2.0     1.0          2.0       NaN           19.0
1996 Summer     75.0     34.0    10.0         40.0       6.0           72.0
1998 Winter     21.0      3.0     NaN          8.0       NaN           23.0
2000 Summer     57.0     23.0    15.0         31.0       7.0           76.0
2002 Winter     33.0      8.0     NaN         10.0       NaN           26.0
2004 Summer     56.0     22.0    20.0         38.0       8.0           79.0
2006 Winter     25.0      5.0     NaN         11.0       NaN           28.0
2008 Summer     41.0     22.0    13.0         34.0       7.0           70.0
2010 Winter     18.0      4.0     1.0          9.0       NaN           34.0
2012 Summer     60.0     21.0    12.0         35.0       6.0           63.0
2014 Winter     27.0      5.0     NaN          9.0       NaN           26.0
2016 Summer     63.0     16.0    12.0         26.0       5.0           77.0

(2)

Create a pivot table that shows both the average age and the average height per year, per team.

In [55]:
pd.pivot_table(df, index='Year', columns='Team', values=['Age', 'Height'], aggfunc=np.mean)

            Age                                                             \
Team    Germany    Hungary     Mexico South Korea   Thailand United States
Year
1980        NaN  23.238095  21.285714   18.750000        NaN     22.500000
1984        NaN  18.500000  21.875000   20.937500  27.333333     24.827957
1988        NaN  23.266667  23.750000   21.369231  21.500000     25.488372
1992  24.469880  22.523810  23.470588   21.560976  24.166667     24.814433
1994  26.315789  22.500000  35.000000   14.500000        NaN     26.315789
1996  25.733333  25.235294  24.000000   21.800000  20.166667     26.277778
1998  24.761905  22.333333        NaN   20.500000        NaN     25.869565
2000  28.315789  25.347826  24.866667   25.225806  22.285714     26.486842
2002  25.181818  26.250000        NaN   20.300000        NaN     25.692308
2004  26.464286  24.954545  27.300000   25.447368  23.125000     25.392405
2006  27.000000  23.200000        NaN   20.818182        NaN     24.500000
2008  27.414634  24.772727  26.153846   24.970588  24.000000     26.600000
2010  27.666667  25.000000  51.000000   23.777778        NaN     25.676471
2012  27.683333  25.333333  23.000000   25.342857  22.500000     26.888889
2014  25.037037  22.800000        NaN   22.666667        NaN     26.769231
2016  26.000000  26.312500  24.500000   26.653846  24.800000     27.000000

          Height
Team     Germany     Hungary      Mexico South Korea    Thailand United States
Year
1980         NaN  173.738095  168.571429  172.750000         NaN    172.333333
1984         NaN  173.500000  168.750000  168.838710  163.666667    176.978261
1988         NaN  174.431818  177.733333  171.704918  166.500000    177.895349
1992  178.048780  178.100000  170.111111  170.166667  164.800000    175.677083
1994  177.894737  169.000000  183.000000  175.000000         NaN    177.210526
1996  178.160000  177.363636  163.200000  172.000000  166.166667    174.538462
1998  176.047619  180.666667         NaN  171.750000         NaN    172.956522
2000  179.087719  176.347826  170.666667  172.741935  170.142857    176.648649
2002  173.787879  175.625000         NaN  169.300000         NaN    174.038462
2004  181.428571  178.409091  172.650000  171.894737  166.750000    176.683544
2006  174.840000  181.800000         NaN  165.545455         NaN    173.928571
2008  175.756098  176.318182  170.000000  170.382353  162.428571    180.614286
2010  176.166667  170.000000  183.000000  168.111111         NaN    173.470588
2012  177.583333  182.476190  173.000000  171.828571  173.833333    179.126984
2014  174.444444  174.200000         NaN  174.875000         NaN    177.269231
2016  177.984127  177.125000  166.500000  171.230769  173.600000    179.763158

(3)

Create a pivot table that shows both the maximum age and the maximum height per year, per team, broken up by year and season.

In [56]:
pd.pivot_table(df, index=['Year', 'Season'], columns='Team', values=['Age', 'Height'], aggfunc=np.max)

                Age                                                    Height  \
Team        Germany Hungary Mexico South Korea Thailand United States Germany
Year Season
1980 Summer     NaN    36.0   29.0         NaN      NaN           NaN     NaN
     Winter     NaN     NaN    NaN        24.0      NaN          28.0     NaN
1984 Summer     NaN     NaN   32.0        29.0     31.0          48.0     NaN
     Winter     NaN    20.0    NaN        27.0      NaN          34.0     NaN
1988 Summer     NaN    36.0   33.0        31.0     23.0          44.0     NaN
     Winter     NaN    29.0   23.0        24.0      NaN          39.0     NaN
1992 Summer    49.0    33.0   42.0        29.0     30.0          41.0   213.0
     Winter    31.0    20.0   20.0        26.0      NaN          36.0   186.0
1994 Winter    33.0    28.0   35.0        15.0      NaN          33.0   189.0
1996 Summer    36.0    41.0   33.0        25.0     25.0          40.0   199.0
1998 Winter    32.0    26.0    NaN        24.0      NaN          38.0   199.0
2000 Summer    41.0    35.0   32.0        31.0     27.0          44.0   202.0
2002 Winter    37.0    39.0    NaN        23.0      NaN          34.0   191.0
2004 Summer    49.0    35.0   52.0        43.0     29.0          41.0   211.0
2006 Winter    35.0    34.0    NaN        27.0      NaN          37.0   191.0
2008 Summer    47.0    33.0   40.0        37.0     35.0          49.0   201.0
2010 Winter    42.0    33.0   51.0        31.0      NaN          36.0   190.0
2012 Summer    43.0    36.0   31.0        35.0     30.0          44.0   200.0
2014 Winter    36.0    25.0    NaN        35.0      NaN          45.0   189.0
2016 Summer    39.0    39.0   30.0        43.0     34.0          51.0   196.0


Team        Hungary Mexico South Korea Thailand United States
Year Season
1980 Summer   194.0  181.0         NaN      NaN           NaN
     Winter     NaN    NaN       181.0      NaN         188.0
1984 Summer     NaN  180.0       187.0    173.0         198.0
     Winter   180.0    NaN       175.0      NaN         190.0
1988 Summer   195.0  190.0       188.0    170.0         208.0
     Winter   183.0    NaN       173.0      NaN         193.0
1992 Summer   199.0  188.0       186.0    174.0         195.0
     Winter   180.0  165.0       175.0      NaN         188.0
1994 Winter   180.0  183.0       175.0      NaN         190.0
1996 Summer   200.0  172.0       190.0    173.0         198.0
1998 Winter   187.0    NaN       182.0      NaN         190.0
2000 Summer   196.0  185.0       195.0    180.0         200.0
2002 Winter   187.0    NaN       180.0      NaN         193.0
2004 Summer   204.0  190.0       196.0    179.0         209.0
2006 Winter   188.0    NaN       176.0      NaN         188.0
2008 Summer   198.0  187.0       192.0    173.0         206.0
2010 Winter   182.0  183.0       182.0      NaN         188.0
2012 Summer   200.0  189.0       192.0    180.0         203.0
2014 Winter   183.0    NaN       184.0      NaN         193.0
2016 Summer   195.0  180.0       193.0    182.0         201.0