In [5]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

In [6]:
filename = '../data/olympic_athlete_events.csv'

df = pd.read_csv(filename,
                index_col=['Year', 'Season', 'Sport', 'Event'],
                usecols=['Age', 'Height', 'Team', 'Year', 'Season', 'City', 'Sport', 'Event', 'Medal'])
df = df.sort_index()
df.head()

                                                     Age  Height  \
Year Season Sport     Event
1896 Summer Athletics Athletics Men's 1,500 metres  24.0     NaN
                      Athletics Men's 1,500 metres   NaN     NaN
                      Athletics Men's 1,500 metres  22.0     NaN
                      Athletics Men's 1,500 metres  23.0   154.0
                      Athletics Men's 1,500 metres  21.0     NaN

                                                             Team    City  \
Year Season Sport     Event
1896 Summer Athletics Athletics Men's 1,500 metres  United States  Athina
                      Athletics Men's 1,500 metres         Greece  Athina
                      Athletics Men's 1,500 metres      Australia  Athina
                      Athletics Men's 1,500 metres        Germany  Athina
                      Athletics Men's 1,500 metres         Greece  Athina

                                                     Medal
Year Season Sport     Event
1896 Summer Athletics Athletics Men's 1,500 metres  Silver
                      Athletics Men's 1,500 metres     NaN
                      Athletics Men's 1,500 metres    Gold
                      Athletics Men's 1,500 metres     NaN
                      Athletics Men's 1,500 metres     NaN

In [8]:
# What is the average age for winning athletes in summer games held between 1936 and 2000?
df.loc[(slice(1936,2000), 'Summer'), 'Age'].mean()

25.026883940421765

In [9]:
# What team has won the greatest number of medals for all archery events?
df.loc[(slice(None), 'Summer', 'Archery'), 'Team'].value_counts()

United States      155
France             151
Great Britain      133
South Korea        102
China               98
                  ...
Vanuatu              1
Guam                 1
Jordan               1
Solomon Islands      1
Azerbaijan           1
Name: Team, Length: 102, dtype: int64

In [10]:
# Starting in 1980, what is the average height of the event known as "Table Tennis Women's Team"?
df.loc[(slice(None), 'Summer', slice(None), "Table Tennis Women's Team"), 'Height'].mean()

165.04827586206898

In [11]:
# Starting in 1980, what is the average height of either "Table Tennis Women's Team" or "Table Tennis Men's Team"?
df.loc[(slice(None), 'Summer', slice(None), ["Table Tennis Men's Team", "Table Tennis Women's Team"]), 'Height'].mean()

171.26643598615917

In [12]:
# How tall was the tallest-ever tennis medalist in Olympic games from 1980 until 2016?
df.loc[(slice(1980,2016), 'Summer', 'Tennis'), 'Height'].max()

208.0