1. `numpy`를 `np`라는 이름으로 불러온다.

In [1]:
import numpy as np

2. `numpy`버전을 확인한다.

In [2]:
print(np.__version__)

1.22.4

3. 크기가 10인 0-벡터를 생성하라.

In [3]:
Z = np.zeros(10)
print(Z)

[0. 0. 0. 0. 0. 0. 0. 0. 0. 0.]

6. 크기 10인 0-벡터를 생성한 후에 다섯 번쨰 값(4번 인덱스)은 1로 지정하라.

In [ ]:
Z = np.zeros(10)
Z[4] = 1
print(Z)

[0. 0. 0. 0. 1. 0. 0. 0. 0. 0.]

7. 10에서 49까지의 정수로 구성된 벡터를 생성하라.

In [ ]:
Z = np.arange(10,50)
print(Z)

[10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33
 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49]

8. 7번으로 만든 벡터를 반전하는 방법 (요소를 거꾸로 만들기)

In [ ]:
Z = np.arange(50)
Z = Z[::-1]
print(Z)

[49 48 47 46 45 44 43 42 41 40 39 38 37 36 35 34 33 32 31 30 29 28 27 26
 25 24 23 22 21 20 19 18 17 16 15 14 13 12 11 10  9  8  7  6  5  4  3  2
  1  0]

9. 0~8로 이루어진 3*3의 매트릭스 만드는 방법

In [ ]:
Z = np.arange(9).reshape(3, 3) # reshape 사용하면 배열 모양 바꿀 수 있음
print(Z)

[[0 1 2]
 [3 4 5]
 [6 7 8]]

10. [1,2,0,0,4]에서 0이 아닌 요소의 인덱스를 찾아보자

In [ ]:
nz = np.nonzero([1,2,0,0,4,0]) # 0이 아닌 요소의 인덱스 찾는 nonzero
print(nz)

(array([0, 1, 4]),)

11. 3*3 크기의 매트릭스 만들기

- `eye()`를 사용하면 대각선으로 1 출력

In [ ]:
Z = np.eye(3)
print(Z)

[[1. 0. 0.]
 [0. 1. 0.]
 [0. 0. 1.]]

12. 랜덤 값으로 이루어진 3 * 3 * 3의 배열을 만들자

In [ ]:
Z = np.random.random((3,3,3))
print(Z)

[[[0.09459229 0.14737168 0.41721605]
  [0.38540425 0.55182027 0.97161004]
  [0.79326517 0.5772105  0.23933223]]

 [[0.14222829 0.85243657 0.40166772]
  [0.26999547 0.05794391 0.75573631]
  [0.87822531 0.28717044 0.54248102]]

 [[0.38021322 0.65998256 0.24996781]
  [0.04232617 0.14662342 0.62342034]
  [0.94015502 0.66010189 0.54795589]]]

13. 랜덤 값으로 이루어진 10*10의 배열을 만들고 최솟값과 최대값을 찾아보자

- 최대값`.max()`
- 최솟값 `.min()`

In [ ]:
Z = np.random.random((10,10))
Zmin, Zmax = Z.min(), Z.max()
print(Zmin, Zmax)

0.047110099558293816 0.9993781873241879

14. 30 크기의 랜덤 벡터를 만들고 평균값을 찾아보자.

- 평균 `.mean()`

In [ ]:
Z = np.random.random(30)
m = Z.mean()
print(m)

0.4973834688788036

15. 경계가 1이고 내부가 0으로 이루어진 2차원 배열 만들기

In [ ]:
Z = np.ones((10,10)) # 1로 만들고
Z[1:-1,1:-1] = 0    # 0을 채운다
print(Z)

[[1. 1. 1. 1. 1. 1. 1. 1. 1. 1.]
 [1. 0. 0. 0. 0. 0. 0. 0. 0. 1.]
 [1. 0. 0. 0. 0. 0. 0. 0. 0. 1.]
 [1. 0. 0. 0. 0. 0. 0. 0. 0. 1.]
 [1. 0. 0. 0. 0. 0. 0. 0. 0. 1.]
 [1. 0. 0. 0. 0. 0. 0. 0. 0. 1.]
 [1. 0. 0. 0. 0. 0. 0. 0. 0. 1.]
 [1. 0. 0. 0. 0. 0. 0. 0. 0. 1.]
 [1. 0. 0. 0. 0. 0. 0. 0. 0. 1.]
 [1. 1. 1. 1. 1. 1. 1. 1. 1. 1.]]

16. 기존 배열에 테두리를 0으로 채우는 방법

In [ ]:
Z = np.ones((5,5)) # 1로 이루어진 5*5배열을 만들고
Z = np.pad(Z, pad_width=1, mode='constant', constant_values=0) # 크기 1만큼의 0으로 패딩
print(Z)

[[0. 0. 0. 0. 0. 0. 0.]
 [0. 1. 1. 1. 1. 1. 0.]
 [0. 1. 1. 1. 1. 1. 0.]
 [0. 1. 1. 1. 1. 1. 0.]
 [0. 1. 1. 1. 1. 1. 0.]
 [0. 1. 1. 1. 1. 1. 0.]
 [0. 0. 0. 0. 0. 0. 0.]]

In [ ]:
# 이것도 같은 동작
Z[:, [0, -1]] = 0
Z[[0, -1], :] = 0
print(Z)

[[0. 0. 0. 0. 0. 0. 0.]
 [0. 1. 1. 1. 1. 1. 0.]
 [0. 1. 1. 1. 1. 1. 0.]
 [0. 1. 1. 1. 1. 1. 0.]
 [0. 1. 1. 1. 1. 1. 0.]
 [0. 1. 1. 1. 1. 1. 0.]
 [0. 0. 0. 0. 0. 0. 0.]]

17. 아래의 결과를 확인하자

0 * np.nan  
np.nan == np.nan  
np.inf > np.nan  
np.nan - np.nan  
np.nan in set([np.nan])  
0.3 == 3 * 0.1

In [ ]:
print(0 * np.nan)
print(np.nan == np.nan)
print(np.inf > np.nan)
print(np.nan - np.nan)
print(np.nan in set([np.nan]))
print(0.3 == 3 * 0.1)

nan
False
False
nan
True
False

18. 5*5 매트릭스를 생성하고 대각선으로 1,2,3,4의 값이 나올 수 있도록

In [ ]:
Z = np.diag(1+np.arange(4),k=-1)  # 지정 열을 기준으로 대각선으로 지정 행렬 생성
print(Z)

[[0 0 0 0 0]
 [1 0 0 0 0]
 [0 2 0 0 0]
 [0 0 3 0 0]
 [0 0 0 4 0]]

19. 8*8 매트릭스 생성해 체크보드 패턴 채우기

In [ ]:
Z = np.zeros((8,8),dtype=int)
Z[1::2,::2] = 1 # 1번 행부터 격행으로, 요소들을 하나씩 건너뛰며 1로 지정
Z[::2,1::2] = 1 # 0번 행부터 격행으로, 요소들을 하나씩 건너뛰며 1로 지정
print(Z)

[[0 1 0 1 0 1 0 1]
 [1 0 1 0 1 0 1 0]
 [0 1 0 1 0 1 0 1]
 [1 0 1 0 1 0 1 0]
 [0 1 0 1 0 1 0 1]
 [1 0 1 0 1 0 1 0]
 [0 1 0 1 0 1 0 1]
 [1 0 1 0 1 0 1 0]]

20. 100번째 원소의 인덱스(x,y,z)은 무엇인가

(형상 배열(6,7,8)을 고려해라)

In [ ]:
print(np.unravel_index(99,(6,7,8)))  # 6*7*8의 행렬에서 100번째 월소의 위치

(1, 5, 3)

In [ ]:
# 확인 가능
x = np.arange(6*7*8).reshape(6,7,8)
x

array([[[  0,   1,   2,   3,   4,   5,   6,   7],
        [  8,   9,  10,  11,  12,  13,  14,  15],
        [ 16,  17,  18,  19,  20,  21,  22,  23],
        [ 24,  25,  26,  27,  28,  29,  30,  31],
        [ 32,  33,  34,  35,  36,  37,  38,  39],
        [ 40,  41,  42,  43,  44,  45,  46,  47],
        [ 48,  49,  50,  51,  52,  53,  54,  55]],

       [[ 56,  57,  58,  59,  60,  61,  62,  63],
        [ 64,  65,  66,  67,  68,  69,  70,  71],
        [ 72,  73,  74,  75,  76,  77,  78,  79],
        [ 80,  81,  82,  83,  84,  85,  86,  87],
        [ 88,  89,  90,  91,  92,  93,  94,  95],
        [ 96,  97,  98,  99, 100, 101, 102, 103],
        [104, 105, 106, 107, 108, 109, 110, 111]],

       [[112, 113, 114, 115, 116, 117, 118, 119],
        [120, 121, 122, 123, 124, 125, 126, 127],
        [128, 129, 130, 131, 132, 133, 134, 135],
        [136, 137, 138, 139, 140, 141, 142, 143],
        [144, 145, 146, 147, 148, 149, 150, 151],
        [152, 153, 154, 155, 156, 157, 158, 159],
        [160, 161, 162, 163, 164, 165, 166, 167]],

       [[168, 169, 170, 171, 172, 173, 174, 175],
        [176, 177, 178, 179, 180, 181, 182, 183],
        [184, 185, 186, 187, 188, 189, 190, 191],
        [192, 193, 194, 195, 196, 197, 198, 199],
        [200, 201, 202, 203, 204, 205, 206, 207],
        [208, 209, 210, 211, 212, 213, 214, 215],
        [216, 217, 218, 219, 220, 221, 222, 223]],

       [[224, 225, 226, 227, 228, 229, 230, 231],
        [232, 233, 234, 235, 236, 237, 238, 239],
        [240, 241, 242, 243, 244, 245, 246, 247],
        [248, 249, 250, 251, 252, 253, 254, 255],
        [256, 257, 258, 259, 260, 261, 262, 263],
        [264, 265, 266, 267, 268, 269, 270, 271],
        [272, 273, 274, 275, 276, 277, 278, 279]],

       [[280, 281, 282, 283, 284, 285, 286, 287],
        [288, 289, 290, 291, 292, 293, 294, 295],
        [296, 297, 298, 299, 300, 301, 302, 303],
        [304, 305, 306, 307, 308, 309, 310, 311],
        [312, 313, 314, 315, 316, 317, 318, 319],
        [320, 321, 322, 323, 324, 325, 326, 327],
        [328, 329, 330, 331, 332, 333, 334, 335]]])

21. `tile()`를 사용해 체크보드 8*8 매트릭스 만들기

In [ ]:
Z = np.tile( np.array([[0,1],[1,0]]), (4,4)) # 주어진 배열을 주어진 만큼 행, 열로 반복
print(Z)

[[0 1 0 1 0 1 0 1]
 [1 0 1 0 1 0 1 0]
 [0 1 0 1 0 1 0 1]
 [1 0 1 0 1 0 1 0]
 [0 1 0 1 0 1 0 1]
 [1 0 1 0 1 0 1 0]
 [0 1 0 1 0 1 0 1]
 [1 0 1 0 1 0 1 0]]

22. 5*5 랜덤 행렬 정규화하기

In [ ]:
Z = np.random.random((5,5))
Z = (Z - np.mean (Z)) / (np.std (Z))
print(Z)

[[-0.79488334  1.15310695  1.34094896 -0.892641    1.00830168]
 [-0.56541184 -1.22964083 -1.25959608  0.31237877 -0.08993814]
 [-1.12422539 -0.55133242 -1.08154543  1.72365301 -0.40321279]
 [ 1.53513601  1.07292269  1.32206867 -0.20954948 -1.00990786]
 [ 0.78841009 -0.90155817 -1.14119748  0.0100677   0.98764571]]

23. 색상을 4바이트(RGBA)로 나타내는 사용자 지정 dtype 생성하기

In [ ]:
color = np.dtype([("r", np.ubyte, 1),
                  ("g", np.ubyte, 1),
                  ("b", np.ubyte, 1),
                  ("a", np.ubyte, 1)])

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:4: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  after removing the cwd from sys.path.

24. 5 * 3 매트릭스에 3 * 2 매트릭스를 곱합니다.

- 행렬의 곱

In [ ]:
Z = np.dot(np.ones((5,3)), np.ones((3,2)))
print(Z)

[[3. 3.]
 [3. 3.]
 [3. 3.]
 [3. 3.]
 [3. 3.]]

In [ ]:
# 또는 (@이용)
Z = np.ones((5,3)) @ np.ones((3,2))
print(Z)

[[3. 3.]
 [3. 3.]
 [3. 3.]
 [3. 3.]
 [3. 3.]]

25. 1차원 배열이 주어지면 3과 8 사이의 모든 요소를 부정하기(-1을 곱해 출력).

In [ ]:
Z = np.arange(11)
Z[(3 < Z) & (Z < 8)] *= -1 # 3과 8 사이의 수에 -1을 곱한다
print(Z)

[ 0  1  2  3 -4 -5 -6 -7  8  9 10]

26. 아래의 코드의 결과를 확인하자.

print(sum(range(5),-1))  
from numpy import *  
print(sum(range(5),-1))

In [ ]:
#0+1+2+3+4-1
print(sum(range(5),-1))

9

In [ ]:
# 0+1+2+3+4, axis=-1
from numpy import *
print(sum(range(5),-1))

10

27. 아래의 표현들 중 맞는 표현찾기(정수 벡터 Z를 생각)

Z**Z   ❌  
2 << Z >> 2 🆗     
Z <- Z  🆗    
1j*Z  🆗    
Z/1/1 🆗   
Z<Z>Z    ❌

In [ ]:
Z**Z

In [ ]:
2 << Z >> 2

array([  0,   1,   2,   4,   0,   0,   0,   0, 128, 256, 512])

In [ ]:
Z <- Z

array([False, False, False, False,  True,  True,  True,  True, False,
       False, False])

In [ ]:
1j*Z

array([ 0. +0.j,  0. +1.j,  0. +2.j,  0. +3.j, -0. -4.j, -0. -5.j,
       -0. -6.j, -0. -7.j,  0. +8.j,  0. +9.j,  0.+10.j])

In [ ]:
Z/1/1

array([ 0.,  1.,  2.,  3., -4., -5., -6., -7.,  8.,  9., 10.])

In [ ]:
Z<Z>Z

28. 다음 표현식의 결과 확인하기

np.array(0) / np.array(0)  
np.array(0) // np.array(0)  
np.array([np.nan]).astype(int).astype(float)

In [ ]:
print(np.array(0) / np.array(0)) # 나눗셈 결과 float
print(np.array(0) // np.array(0)) # 나눗셈 결과 int
print(np.array([np.nan]).astype(int).astype(float)) # int형으로 바꾼걸 float형으로 바꿔 출력

nan
0
[-9.22337204e+18]

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: RuntimeWarning: invalid value encountered in true_divide
  """Entry point for launching an IPython kernel.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: RuntimeWarning: divide by zero encountered in floor_divide

29. 실수형 배열 0에서 반올림하는 방법

In [ ]:
Z = np.random.uniform(-10,+10,10)
Z

array([-5.14356706, -8.15103206,  2.23074448, -3.3070881 ,  7.23778262,
       -4.34943066, -4.52501116, -5.79355815, -6.03999354, -7.92532272])

In [ ]:
print(np.copysign(np.ceil(np.abs(Z)), Z))

[-6. -9.  3. -4.  8. -5. -5. -6. -7. -8.]

In [ ]:
# 또 다른 방법
print(np.where(Z>0, np.ceil(Z), np.floor(Z)))

# where() : 조건에 맞는 것과 아닌 것을 구분해 값을 나타낸다
# ceil() : 주어진 숫자와 같은 정수 또는 주어진 숫자보다 크며 가장 가까운 정수 반환
# floor() : 주어진 숫자와 같은 정수 또는 주어진 숫자보다 작으며 가장 가까운 정수를 반환

[-6. -9.  3. -4.  8. -5. -5. -6. -7. -8.]

30. 두 어레이 간의 공통 값을 찾는 방법

In [ ]:
Z1 = np.random.randint(0,10,10)
Z2 = np.random.randint(0,10,10)
print(np.intersect1d(Z1,Z2))

[2 4 5 7]

31. 모든 numpy 경고를 무시하는 방법(권장되지 않음)

In [ ]:
# 무시 설정
defaults = np.seterr(all="ignore")

In [ ]:
with np.errstate(all="ignore"):
    np.arange(3) / 0

In [ ]:
# 확인 
Z = np.ones(1) / 0

In [ ]:
# 돌아가기
_ = np.seterr(**defaults)

In [ ]:
# 확인 
Z = np.ones(1) / 0

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: RuntimeWarning: divide by zero encountered in true_divide

32. 다음 표현이 참일까?

In [ ]:
np.sqrt(-1) == np.emath.sqrt(-1)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: RuntimeWarning: invalid value encountered in sqrt
  """Entry point for launching an IPython kernel.

False

33. 어제, 오늘, 그리고 내일의 날짜를 확인하는 방법

In [ ]:
yesterday = np.datetime64('today') - np.timedelta64(1)
today     = np.datetime64('today')
tomorrow  = np.datetime64('today') + np.timedelta64(1)
print(yesterday)
print(today)
print(tomorrow)

2022-09-07
2022-09-08
2022-09-09

34.  2016년 7월에 해당하는 모든 날짜를 확인하는 방법

In [ ]:
Z = np.arange('2016-07', '2016-08', dtype='datetime64[D]')
print(Z)

['2016-07-01' '2016-07-02' '2016-07-03' '2016-07-04' '2016-07-05'
 '2016-07-06' '2016-07-07' '2016-07-08' '2016-07-09' '2016-07-10'
 '2016-07-11' '2016-07-12' '2016-07-13' '2016-07-14' '2016-07-15'
 '2016-07-16' '2016-07-17' '2016-07-18' '2016-07-19' '2016-07-20'
 '2016-07-21' '2016-07-22' '2016-07-23' '2016-07-24' '2016-07-25'
 '2016-07-26' '2016-07-27' '2016-07-28' '2016-07-29' '2016-07-30'
 '2016-07-31']

35. (A+B)*(-A/2)를 제 자리에서 계산하는 방법(복사본 없이)

In [ ]:
A = np.ones(3)*1
B = np.ones(3)*2
C = np.ones(3)*3

np.add(A,B,out=B)
np.divide(A,2,out=A)
np.negative(A,out=A)
np.multiply(A,B,out=A)

array([-1.5, -1.5, -1.5])

36. 4가지 다른 방법을 사용하여 양수 배열의 정수 부분 추출하기

In [ ]:
Z = np.random.uniform(0,10,10)

print(Z - Z%1)
print(Z // 1)
print(np.floor(Z))
print(Z.astype(int))
print(np.trunc(Z))

[6. 4. 0. 3. 0. 4. 3. 7. 5. 4.]
[6. 4. 0. 3. 0. 4. 3. 7. 5. 4.]
[6. 4. 0. 3. 0. 4. 3. 7. 5. 4.]
[6 4 0 3 0 4 3 7 5 4]
[6. 4. 0. 3. 0. 4. 3. 7. 5. 4.]

37. 행 값이 0~4인 5*5 매트릭스 만들기

In [ ]:
Z = np.zeros((5,5))
Z += np.arange(5)
print(Z)

[[0. 1. 2. 3. 4.]
 [0. 1. 2. 3. 4.]
 [0. 1. 2. 3. 4.]
 [0. 1. 2. 3. 4.]
 [0. 1. 2. 3. 4.]]

38. 10개의 정수 생성 후 이것을 사용하여 배열을 만드는 함수를 구현하기

In [ ]:
def generate():
    for x in range(10):
        yield x

Z = np.fromiter(generate(),dtype=float,count=-1) # 함수대로, 지정한 타입대로 배열 생성

print(Z)

[0. 1. 2. 3. 4. 5. 6. 7. 8. 9.]

39. 0에서 1 사이의 값으로 크기 10의 벡터를 만듭니다(0 과 1 제외).

In [ ]:
Z = np.linspace(0,1,11,endpoint=False)[1:]
print(Z)

[0.09090909 0.18181818 0.27272727 0.36363636 0.45454545 0.54545455
 0.63636364 0.72727273 0.81818182 0.90909091]

40. 크기가 10이고 랜덤의 수로 이뤄진 벡터를 만들어 정렬하기

In [ ]:
Z = np.random.random(10)
Z.sort()
print(Z)

[0.03111353 0.12705453 0.16773354 0.2069788  0.23817002 0.46907439
 0.57705274 0.67439564 0.69101664 0.95728674]

41. `np.sum`보다 1차원 배열을 더 빨리 더하는 방법

In [ ]:
Z = np.arange(10)
np.add.reduce(Z)

45

42. 두 개의 랜덤 배열 A와 B가 같은지 확인

In [ ]:
A = np.random.randint(0,2,5)
B = np.random.randint(0,2,5)

print(A)
print(B)

[0 1 1 1 1]
[1 1 0 1 1]

In [ ]:
# 허용오차 있음
equal = np.allclose(A,B)
print(equal)

False

In [ ]:
# 허용오차 두지 않음
equal = np.array_equal(A,B)
print(equal)

False

43. 배열을 불변으로 만들기(읽기 전용)

In [ ]:
Z = np.zeros(10)
Z.flags.writeable = False

# 읽기 전용이라 오류 발생
Z[0] = 1

44. 데카르트 좌표를 나타내는 랜덤 10*2 행렬로 극좌표로 변환

In [ ]:
Z = np.random.random((10,2))

X,Y = Z[:,0], Z[:,1]

R = np.sqrt(X**2+Y**2)
T = np.arctan2(Y,X)

print(R)
print(T)

[0.87392394 0.41747507 0.70195353 0.74476017 0.96983561 0.51741106
 0.63076853 0.60737934 0.7902613  0.82775279]
[1.38190663 0.65105408 0.23841712 0.02259636 1.03849932 0.32412973
 0.85989012 1.55651199 0.47852956 0.37343637]


45. 크기 10의 랜덤 벡터를 만들고 최대값을 0으로 바꾸기

In [ ]:
Z = np.random.random(10)
Z[Z.argmax()] = 0
print(Z)

[0.23707336 0.59120316 0.26432786 0.36317177 0.44294633 0.
 0.80747097 0.11853117 0.91659084 0.80581196]

46. [0,1]x[0,1] 영역을 포함하는 (x,y) 좌표로 구성된 배열 만들기

In [ ]:
Z = np.zeros((5,5), [('x',float),('y',float)])
Z['x'], Z['y'] = np.meshgrid(np.linspace(0,1,5),np.linspace(0,1,5))                     
print(Z)

[[(0.  , 0.  ) (0.25, 0.  ) (0.5 , 0.  ) (0.75, 0.  ) (1.  , 0.  )]
 [(0.  , 0.25) (0.25, 0.25) (0.5 , 0.25) (0.75, 0.25) (1.  , 0.25)]
 [(0.  , 0.5 ) (0.25, 0.5 ) (0.5 , 0.5 ) (0.75, 0.5 ) (1.  , 0.5 )]
 [(0.  , 0.75) (0.25, 0.75) (0.5 , 0.75) (0.75, 0.75) (1.  , 0.75)]
 [(0.  , 1.  ) (0.25, 1.  ) (0.5 , 1.  ) (0.75, 1.  ) (1.  , 1.  )]]

47. X와 Y의 두 배열이 주어지면 Cauchy 행렬 `C(Cij = 1/(xi - yj)`를 구성하도록 하기

In [ ]:
X = np.arange(8)
Y = X + 0.5

C = 1.0 / np.subtract.outer(X, Y)

print(np.linalg.det(C))

3638.163637117973

48.  각 numpy 스칼라 유형에 대해 표현 가능한 최소값과 최대값을 출력하기

In [ ]:
# 정수
for dtype in [np.int8, np.int32, np.int64]:
   print(np.iinfo(dtype).min)
   print(np.iinfo(dtype).max)

print("---------")

# 실수
for dtype in [np.float32, np.float64]:
   print(np.finfo(dtype).min)
   print(np.finfo(dtype).max)
   print(np.finfo(dtype).eps)

-128
127
-2147483648
2147483647
-9223372036854775808
9223372036854775807
---------
-3.4028235e+38
3.4028235e+38
1.1920929e-07
-1.7976931348623157e+308
1.7976931348623157e+308
2.220446049250313e-16

49. 배열의 모든 값을 인쇄하는 방법

In [ ]:
np.set_printoptions(threshold=float("inf"))
Z = np.zeros((16,16))
print(Z)

[[0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.]
 [0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.]
 [0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.]
 [0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.]
 [0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.]
 [0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.]
 [0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.]
 [0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.]
 [0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.]
 [0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.]
 [0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.]
 [0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.]
 [0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.]
 [0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.]
 [0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.]
 [0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.]]

50. 벡터에서 (특정 스칼라에) 가장 가까운 값을 찾는 방법

In [ ]:
Z = np.arange(100)
v = np.random.uniform(0,100)

index = (np.abs(Z-v)).argmin()

print(Z[index])

84

51. 위치(x,y)와 색상(r,g,b)을 나타내는 구조화된 배열을 만들기

In [ ]:
Z = np.zeros(10, [ ('position', [ ('x', float, 1),
                                  ('y', float, 1)]),
                   ('color',    [ ('r', float, 1),
                                  ('g', float, 1),
                                  ('b', float, 1)])])
print(Z)

[((0., 0.), (0., 0., 0.)) ((0., 0.), (0., 0., 0.))
 ((0., 0.), (0., 0., 0.)) ((0., 0.), (0., 0., 0.))
 ((0., 0.), (0., 0., 0.)) ((0., 0.), (0., 0., 0.))
 ((0., 0.), (0., 0., 0.)) ((0., 0.), (0., 0., 0.))
 ((0., 0.), (0., 0., 0.)) ((0., 0.), (0., 0., 0.))]

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:5: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  """

52. 점 거리별 점 찾기

(좌표를 나타내는 형상(100,2)이 있는 랜덤 벡터 고려)

In [ ]:
Z = np.random.random((10,2))

X,Y = np.atleast_2d(Z[:,0], Z[:,1])

# 거리구하기
D = np.sqrt( (X-X.T)**2 + (Y-Y.T)**2)
print(D)

[[0.         0.30878813 0.42531078 0.5911404  0.07894676 0.18141047
  0.16253179 0.28096098 0.45433849 0.5626375 ]
 [0.30878813 0.         0.35506001 0.31183052 0.38080816 0.45275872
  0.21994529 0.522721   0.35581687 0.49401073]
 [0.42531078 0.35506001 0.         0.36109618 0.49634413 0.42658196
  0.26857176 0.420328   0.04091463 0.14651058]
 [0.5911404  0.31183052 0.36109618 0.         0.66918981 0.68874886
  0.44943092 0.72471831 0.32894218 0.42641584]
 [0.07894676 0.38080816 0.49634413 0.66918981 0.         0.17649406
  0.23941338 0.28141468 0.52727026 0.62957668]
 [0.18141047 0.45275872 0.42658196 0.68874886 0.17649406 0.
  0.24401337 0.10497157 0.46473844 0.53551591]
 [0.16253179 0.21994529 0.26857176 0.44943092 0.23941338 0.24401337
  0.         0.30373251 0.2944795  0.41125471]
 [0.28096098 0.522721   0.420328   0.72471831 0.28141468 0.10497157
  0.30373251 0.         0.46088739 0.50517693]
 [0.45433849 0.35581687 0.04091463 0.32894218 0.52727026 0.46473844
  0.2944795  0.46088739 0.         0.13820496]
 [0.5626375  0.49401073 0.14651058 0.42641584 0.62957668 0.53551591
  0.41125471 0.50517693 0.13820496 0.        ]]

In [ ]:
# spicy 사용하면 더 빠르게 할 수 있음

import scipy

import scipy.spatial

Z = np.random.random((10,2))
D = scipy.spatial.distance.cdist(Z,Z)
print(D)

[[0.         0.34425642 0.98050933 0.64156454 0.67423418 0.58214021
  0.3968415  0.21844155 0.6366557  0.30534859]
 [0.34425642 0.         0.63645583 0.29808653 0.38608961 0.31549806
  0.16085981 0.16295085 0.46981953 0.0891937 ]
 [0.98050933 0.63645583 0.         0.3392504  0.44025526 0.51691291
  0.63095249 0.77913343 0.72710368 0.68581565]
 [0.64156454 0.29808653 0.3392504  0.         0.24627804 0.26242679
  0.30669491 0.44105647 0.52883458 0.34790356]
 [0.67423418 0.38608961 0.44025526 0.24627804 0.         0.09688982
  0.27740411 0.45604101 0.75500833 0.37693177]
 [0.58214021 0.31549806 0.51691291 0.26242679 0.09688982 0.
  0.18703637 0.36502697 0.72645397 0.29172688]
 [0.3968415  0.16085981 0.63095249 0.30669491 0.27740411 0.18703637
  0.         0.17868632 0.62440319 0.10819026]
 [0.21844155 0.16295085 0.77913343 0.44105647 0.45604101 0.36502697
  0.17868632 0.         0.59070862 0.09331905]
 [0.6366557  0.46981953 0.72710368 0.52883458 0.75500833 0.72645397
  0.62440319 0.59070862 0.         0.55402579]
 [0.30534859 0.0891937  0.68581565 0.34790356 0.37693177 0.29172688
  0.10819026 0.09331905 0.55402579 0.        ]]

53. 실수(32비트) 배열을 정수(32비트)로 변환하는 방법

In [ ]:
Z = (np.random.rand(10)*100).astype(np.float32)

Y = Z.view(np.int32)

Y[:] = Z
print(Y)

[70 31 74  7 76 84 74 97  6 21]

54. 다음 파일을 읽는 방법

1, 2, 3, 4, 5   
6,  ,   ,  7, 8   
  ,  , 9,10, 11

In [ ]:
from io import StringIO

# 가짜 파일 생성
s = StringIO('''1, 2, 3, 4, 5

                6,  ,  , 7, 8

                 ,  , 9,10,11
''')

Z = np.genfromtxt(s, delimiter=",", dtype=np.int)
print(Z)

[[ 1  2  3  4  5]
 [ 6 -1 -1  7  8]
 [-1 -1  9 10 11]]

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:11: DeprecationWarning: `np.int` is a deprecated alias for the builtin `int`. To silence this warning, use `int` by itself. Doing this will not modify any behavior and is safe. When replacing `np.int`, you may wish to use e.g. `np.int64` or `np.int32` to specify the precision. If you wish to review your current use, check the release note link for additional information.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  # This is added back by InteractiveShellApp.init_path()

55. 어레이에 대한 인덱스, 요소 구하기

In [ ]:
Z = np.arange(9).reshape(3,3)

for index, value in np.ndenumerate(Z):
    print(index, value)

for index in np.ndindex(Z.shape):
    print(index, Z[index])

(0, 0) 0
(0, 1) 1
(0, 2) 2
(1, 0) 3
(1, 1) 4
(1, 2) 5
(2, 0) 6
(2, 1) 7
(2, 2) 8
(0, 0) 0
(0, 1) 1
(0, 2) 2
(1, 0) 3
(1, 1) 4
(1, 2) 5
(2, 0) 6
(2, 1) 7
(2, 2) 8

56. 2차원 가우스 배열 만들기

In [ ]:
X, Y = np.meshgrid(np.linspace(-1,1,10), np.linspace(-1,1,10))

D = np.sqrt(X*X+Y*Y)

sigma, mu = 1.0, 0.0

G = np.exp(-( (D-mu)**2 / ( 2.0 * sigma**2 ) ) )
print(G)

[[0.36787944 0.44822088 0.51979489 0.57375342 0.60279818 0.60279818
  0.57375342 0.51979489 0.44822088 0.36787944]
 [0.44822088 0.54610814 0.63331324 0.69905581 0.73444367 0.73444367
  0.69905581 0.63331324 0.54610814 0.44822088]
 [0.51979489 0.63331324 0.73444367 0.81068432 0.85172308 0.85172308
  0.81068432 0.73444367 0.63331324 0.51979489]
 [0.57375342 0.69905581 0.81068432 0.89483932 0.9401382  0.9401382
  0.89483932 0.81068432 0.69905581 0.57375342]
 [0.60279818 0.73444367 0.85172308 0.9401382  0.98773022 0.98773022
  0.9401382  0.85172308 0.73444367 0.60279818]
 [0.60279818 0.73444367 0.85172308 0.9401382  0.98773022 0.98773022
  0.9401382  0.85172308 0.73444367 0.60279818]
 [0.57375342 0.69905581 0.81068432 0.89483932 0.9401382  0.9401382
  0.89483932 0.81068432 0.69905581 0.57375342]
 [0.51979489 0.63331324 0.73444367 0.81068432 0.85172308 0.85172308
  0.81068432 0.73444367 0.63331324 0.51979489]
 [0.44822088 0.54610814 0.63331324 0.69905581 0.73444367 0.73444367
  0.69905581 0.63331324 0.54610814 0.44822088]
 [0.36787944 0.44822088 0.51979489 0.57375342 0.60279818 0.60279818
  0.57375342 0.51979489 0.44822088 0.36787944]]

57.  2차원 배열에 p 요소를 랜덤으로 배치하는 방법

In [ ]:
n = 10
p = 3

Z = np.zeros((n,n))

np.put(Z, np.random.choice(range(n*n), p, replace=False),1) # 1을 3개 무작위로 배치하게 선택
print(Z)

[[0. 0. 0. 0. 0. 0. 0. 0. 1. 0.]
 [0. 0. 0. 0. 0. 0. 0. 0. 0. 0.]
 [0. 0. 0. 0. 0. 0. 0. 0. 0. 0.]
 [0. 0. 0. 0. 0. 0. 0. 0. 0. 0.]
 [0. 0. 0. 0. 0. 0. 0. 0. 0. 0.]
 [0. 0. 0. 0. 0. 0. 0. 0. 0. 0.]
 [0. 0. 0. 0. 1. 0. 0. 0. 0. 1.]
 [0. 0. 0. 0. 0. 0. 0. 0. 0. 0.]
 [0. 0. 0. 0. 0. 0. 0. 0. 0. 0.]
 [0. 0. 0. 0. 0. 0. 0. 0. 0. 0.]]

58.  행렬의 각 행의 평균을 출력 하는 방법

In [ ]:
X = np.random.rand(5, 10)
# 최신버전
Y = X - X.mean(axis=1, keepdims=True)

print(Y)

[[ 0.34525225 -0.41113439 -0.44211717 -0.24115432 -0.0899475   0.18932151
   0.37011467  0.20197586 -0.07795164  0.15564071]
 [ 0.23003475  0.31038322  0.00659039 -0.32811705  0.21895209 -0.06997829
   0.14204856 -0.43867994  0.33935139 -0.41058513]
 [ 0.46949938  0.23382341  0.09723426 -0.39225793 -0.4218601  -0.25579097
  -0.31753369  0.04187656  0.39488462  0.15012447]
 [ 0.12070094 -0.22305684  0.38378845 -0.11259977  0.05383192 -0.21788169
  -0.28060828  0.15694853 -0.41894887  0.5378256 ]
 [ 0.00350916  0.0644182  -0.39414027  0.47380296 -0.21249319  0.05450966
  -0.16056987 -0.03524391  0.43613445 -0.22992718]]

In [ ]:
# 구버전
Y = X - X.mean(axis=1).reshape(-1, 1)

print(Y)

[[ 0.34525225 -0.41113439 -0.44211717 -0.24115432 -0.0899475   0.18932151
   0.37011467  0.20197586 -0.07795164  0.15564071]
 [ 0.23003475  0.31038322  0.00659039 -0.32811705  0.21895209 -0.06997829
   0.14204856 -0.43867994  0.33935139 -0.41058513]
 [ 0.46949938  0.23382341  0.09723426 -0.39225793 -0.4218601  -0.25579097
  -0.31753369  0.04187656  0.39488462  0.15012447]
 [ 0.12070094 -0.22305684  0.38378845 -0.11259977  0.05383192 -0.21788169
  -0.28060828  0.15694853 -0.41894887  0.5378256 ]
 [ 0.00350916  0.0644182  -0.39414027  0.47380296 -0.21249319  0.05450966
  -0.16056987 -0.03524391  0.43613445 -0.22992718]]

59.  배열을 n번째 열로 정렬하는 방법

In [ ]:
Z = np.random.randint(0,10,(3,3))

print(Z)
print(Z[Z[:,1].argsort()]) # 첫번째 열의 수로 행 정렬

[[4 2 0]
 [8 1 7]
 [9 5 4]]
[[8 1 7]
 [4 2 0]
 [9 5 4]]

60. 주어진 2차원 배열에 `null` 열이 있는지 확인하는 방법

In [ ]:
Z = np.random.randint(0,3,(3,10))
Z

array([[2, 2, 0, 0, 1, 0, 0, 1, 1, 2],
       [0, 0, 1, 1, 2, 2, 1, 2, 0, 1],
       [2, 0, 1, 1, 0, 0, 0, 2, 0, 1]])

In [ ]:
print((~Z.any(axis=0)).any())

False

61. 배열의 지정된 값에서 가장 가까운 값 찾기

In [ ]:
Z = np.random.uniform(0,1,10)
z = 0.5

# argmin : 최솟값 인덱스
# flat : 1차원 어레이로 취급 후 인덱싱
m = Z.flat[np.abs(Z - z).argmin()] 
print(m)

0.6322466076464077

62. 반복문을 사용하여 합계를 계산하는 방법  
(형상 (1,3)과 (3,1)의 두 배열을 고려)

In [ ]:
A = np.arange(3).reshape(3,1)
B = np.arange(3).reshape(1,3)

print(A)
print(B)

[[0]
 [1]
 [2]]
[[0 1 2]]

In [ ]:
it = np.nditer([A,B,None])

for x,y,z in it: z[...] = x + y

print(it.operands[2])

[[0 1 2]
 [1 2 3]
 [2 3 4]]

63. 이름 속성을 가진 어레이 클래스 생성

In [ ]:
class NamedArray(np.ndarray):
    def __new__(cls, array, name="no name"): # 이름 기본값 
        obj = np.asarray(array).view(cls)
        obj.name = name
        return obj
        
    def __array_finalize__(self, obj):
        if obj is None: return
        self.info = getattr(obj, 'name', "no name")

In [ ]:
Z = NamedArray(np.arange(10), "range_10") #range_10이라는 이름을 가진 어레이 생성
print (Z.name)

range_10

64. 주어진 벡터를 생각해 보자. 두 번째 벡터에 의해 인덱싱된 각 요소에 1을 추가하는 방법

In [ ]:
Z = np.ones(10)
I = np.random.randint(0,len(Z),20)

print(I)

[9 0 3 8 8 1 2 3 9 8 3 8 5 8 6 7 7 1 4 1]

In [ ]:
Z += np.bincount(I, minlength=len(Z)) # I 배열 원소의 빈도수+1 Z에 저장
print(Z)

[2. 4. 2. 4. 2. 2. 2. 3. 6. 3.]

In [ ]:
Z = np.ones(10)
I = np.random.randint(0,len(Z),20)

print(I)
# 다른 방법
np.add.at(Z, I, 1)
print(Z)

[5 6 0 2 0 4 0 2 1 1 4 7 3 5 5 9 2 3 2 1]
[4. 4. 5. 3. 3. 4. 2. 2. 1. 2.]

65. 인덱스 목록(I)을 기준으로 배열(F)에 벡터(X) 요소를 누적하는 방법

In [ ]:
X = [1,2,3,4,5,6]
I = [1,3,9,3,4,1]

F = np.bincount(I,X) # I의 원소의 인덱스를 X에 대입해 얻은 원소를 F에 표현
print(F)

[0. 7. 0. 6. 5. 0. 0. 0. 0. 3.]

66. `(dtype = ubyte)`의 (w,h,3) 이미지를 고려하여 고유 색상의 수를 계산합니다.

In [ ]:
w,h = 16,16
I = np.random.randint(0,2,(h,w,3)).astype(np.ubyte)
F = I[...,0]*256*256 + I[...,1]*256 +I[...,2]

n = len(np.unique(F))
print(np.unique(I))

[0 1]

67. 4차원 배열을 고려했을 때, 마지막 두 축에서 합계를 한 번에 얻는 방법

In [ ]:
A = np.random.randint(0,10,(3,4,3,4))
A

array([[[[9, 3, 7, 7],
         [2, 9, 0, 9],
         [7, 4, 8, 6]],

        [[9, 7, 7, 7],
         [9, 4, 9, 9],
         [1, 9, 3, 4]],

        [[3, 7, 9, 5],
         [6, 3, 0, 8],
         [7, 5, 0, 3]],

        [[3, 6, 0, 3],
         [6, 6, 6, 6],
         [3, 3, 5, 7]]],


       [[[8, 1, 9, 8],
         [4, 9, 4, 1],
         [3, 8, 9, 2]],

        [[0, 9, 5, 1],
         [6, 8, 7, 7],
         [4, 8, 1, 4]],

        [[1, 1, 8, 7],
         [5, 7, 0, 5],
         [0, 8, 3, 2]],

        [[3, 8, 2, 6],
         [0, 4, 2, 7],
         [3, 5, 9, 3]]],


       [[[6, 6, 3, 4],
         [6, 3, 2, 1],
         [7, 6, 9, 2]],

        [[4, 0, 4, 5],
         [0, 6, 7, 8],
         [5, 6, 3, 1]],

        [[1, 6, 1, 3],
         [2, 0, 2, 6],
         [8, 3, 0, 1]],

        [[5, 3, 6, 3],
         [9, 2, 3, 7],
         [2, 6, 4, 9]]]])

In [ ]:
sum = A.sum(axis=(-2,-1)) # 마지막 두 축의 합
print(sum)

[[71 78 56 54]
 [66 60 47 52]
 [55 49 33 59]]

In [ ]:
# 차원을 줄여 같은 동작을 하게 함
sum = A.reshape(A.shape[:-2] + (-1,)).sum(axis=-1)
print(sum)

[[71 78 56 54]
 [66 60 47 52]
 [55 49 33 59]]

68. 1차원 벡터 D를 고려했을 때, 부분 집합 지수를 설명하는 동일한 크기의 벡터 S를 사용하여 D의 부분 집합 평균을 계산하는 방법

In [ ]:
D = np.random.uniform(0,1,100)
S = np.random.randint(0,10,100)

D_sums = np.bincount(S, weights=D)
D_counts = np.bincount(S)
D_means = D_sums / D_counts

print(D_means)

[0.44345757 0.57390827 0.41029881 0.50808374 0.46763001 0.49606114
 0.51081278 0.63719555 0.37806151 0.56815772]

In [ ]:
# 판다스를 사용한다면 ...
import pandas as pd
print(pd.Series(D).groupby(S).mean())

0    0.443458
1    0.573908
2    0.410299
3    0.508084
4    0.467630
5    0.496061
6    0.510813
7    0.637196
8    0.378062
9    0.568158
dtype: float64

69. 도트 제품의 대각선을 구하는 방법

In [ ]:
A = np.random.uniform(0,1,(5,5))
B = np.random.uniform(0,1,(5,5))
print(A)
print("====================================================================")
print(B)

[[0.59606399 0.25848847 0.8393417  0.37574279 0.73778416]
 [0.6198225  0.72424174 0.2847731  0.60563025 0.90427688]
 [0.92862844 0.93611403 0.61528552 0.41471678 0.73659988]
 [0.48068681 0.43501255 0.6099376  0.33067219 0.00095425]
 [0.08639899 0.12529181 0.14987746 0.41382191 0.11603747]]
====================================================================
[[0.14048348 0.94093428 0.65210727 0.84416253 0.44438461]
 [0.94910563 0.76499534 0.99015309 0.82287214 0.6649482 ]
 [0.7289712  0.79595097 0.2360608  0.75527111 0.34069192]
 [0.62739524 0.08733666 0.40973784 0.70578354 0.43866159]
 [0.5591314  0.2516058  0.10858868 0.76974386 0.04285321]]

In [ ]:
np.diag(np.dot(A, B))

array([1.61211851, 1.54582137, 1.51676136, 1.13925313, 2.00644356])

In [ ]:
# 빠르게 한다면...
np.einsum("ij,ji->i", A, B)

array([1.58918347, 1.64433425, 1.92761792, 1.45852327, 0.35926934])

70. 벡터 [1, 2, 3, 4, 5]를 생각해보자. 각 값 사이에 3연속으로 0이 인터리브된 새 벡터를 만드는 방법

In [ ]:
Z = np.array([1,2,3,4,5])
nz = 3

Z0 = np.zeros(len(Z) + (len(Z)-1)*(nz))

Z0[::nz+1] = Z
print(Z0)

[1. 0. 0. 0. 2. 0. 0. 0. 3. 0. 0. 0. 4. 0. 0. 0. 5.]

71. 차원 배열(5,5,3), 차원 배열(5,5)을 곱하는 방법

In [ ]:
A = np.ones((5,5,3))
B = 2*np.ones((5,5))
print(A)
print("===========")
print(B)
print("===========")
print(A * B[:,:,None])

[[[1. 1. 1.]
  [1. 1. 1.]
  [1. 1. 1.]
  [1. 1. 1.]
  [1. 1. 1.]]

 [[1. 1. 1.]
  [1. 1. 1.]
  [1. 1. 1.]
  [1. 1. 1.]
  [1. 1. 1.]]

 [[1. 1. 1.]
  [1. 1. 1.]
  [1. 1. 1.]
  [1. 1. 1.]
  [1. 1. 1.]]

 [[1. 1. 1.]
  [1. 1. 1.]
  [1. 1. 1.]
  [1. 1. 1.]
  [1. 1. 1.]]

 [[1. 1. 1.]
  [1. 1. 1.]
  [1. 1. 1.]
  [1. 1. 1.]
  [1. 1. 1.]]]
===========
[[2. 2. 2. 2. 2.]
 [2. 2. 2. 2. 2.]
 [2. 2. 2. 2. 2.]
 [2. 2. 2. 2. 2.]
 [2. 2. 2. 2. 2.]]
===========
[[[2. 2. 2.]
  [2. 2. 2.]
  [2. 2. 2.]
  [2. 2. 2.]
  [2. 2. 2.]]

 [[2. 2. 2.]
  [2. 2. 2.]
  [2. 2. 2.]
  [2. 2. 2.]
  [2. 2. 2.]]

 [[2. 2. 2.]
  [2. 2. 2.]
  [2. 2. 2.]
  [2. 2. 2.]
  [2. 2. 2.]]

 [[2. 2. 2.]
  [2. 2. 2.]
  [2. 2. 2.]
  [2. 2. 2.]
  [2. 2. 2.]]

 [[2. 2. 2.]
  [2. 2. 2.]
  [2. 2. 2.]
  [2. 2. 2.]
  [2. 2. 2.]]]

72. 배열의 두 행을 바꾸는 방법

In [ ]:
A = np.arange(25).reshape(5,5)
A[[0,1]] = A[[1,0]]
print(A)

[[ 5  6  7  8  9]
 [ 0  1  2  3  4]
 [10 11 12 13 14]
 [15 16 17 18 19]
 [20 21 22 23 24]]

73. 10개의 삼각형(공유 꼭지점 포함)을 설명하는 10개의 세쌍둥이 집합을 생각해보자. 모든 삼각형을 구성하는 고유한 선 세그먼트 집합을 찾는다.

In [ ]:
faces = np.random.randint(0,100,(10,3))

F = np.roll(faces.repeat(2,axis=1),-1,axis=1) # 행별로 원소를 두번씩 반복하고 맨 앞에 있는 것을 맨 뒤로 옮긴다
F = F.reshape(len(F)*3,2) # 배열 모양 바꾸기
F = np.sort(F,axis=1) # 행 기준 정렬 

G = F.view( dtype=[('p0',F.dtype),('p1',F.dtype)] ) # G는 F얕은 복사

G = np.unique(G) #유일한 값으로 다시 저장
print(G)

[( 1,  3) ( 1, 68) ( 3, 68) ( 9, 32) ( 9, 83) (19, 21) (19, 35) (21, 35)
 (25, 40) (25, 44) (31, 34) (31, 75) (32, 58) (32, 76) (32, 83) (34, 64)
 (34, 71) (34, 75) (40, 44) (40, 68) (40, 90) (47, 68) (47, 71) (58, 70)
 (58, 76) (64, 71) (68, 71) (68, 90) (70, 76)]

74. 빈 카운트에 해당하는 정렬된 `배열 C`가 주어진 경우 `np.bincount(A) == C`와 같은 `배열 A`를 생성하는 방법

In [ ]:
C = np.bincount([1,1,2,3,4,4,6])
A = np.repeat(np.arange(len(C)), C)
print(A)

[1 1 2 3 4 4 6]

75. 배열 상의 슬라이딩 창을 사용하여 평균을 계산하는 방법

In [ ]:
def moving_average(a, n=3) :
    ret = np.cumsum(a, dtype=float)
    ret[n:] = ret[n:] - ret[:-n]
    return ret[n - 1:] / n

Z = np.arange(20)
print(moving_average(Z, n=3))

[ 1.  2.  3.  4.  5.  6.  7.  8.  9. 10. 11. 12. 13. 14. 15. 16. 17. 18.]

76. 1차원 배열 Z를 고려하여 첫 번째 행이 (Z[0], Z[1], Z[2])인 2차원 배열을 만들고 그 다음 행이 1로 이동되도록 하기

   마지막 행은 (Z[-3], Z[-2], Z[-1]).

In [ ]:
from numpy.lib import stride_tricks

def rolling(a, window):
    shape = (a.size - window + 1, window) # (8,3)
    strides = (a.itemsize, a.itemsize)    # (8,8)
    return stride_tricks.as_strided(a, shape=shape, strides=strides) # 주어진 모양과 보폭으로 배열 만듬

Z = rolling(np.arange(10), 3)
print(Z)

[[0 1 2]
 [1 2 3]
 [2 3 4]
 [3 4 5]
 [4 5 6]
 [5 6 7]
 [6 7 8]
 [7 8 9]]

77. 부울을 부정하는 방법 또는 부동 부호를 변경하는 방법

In [ ]:
Z = np.random.randint(0,2,100)
print(Z)

np.logical_not(Z, out=Z)

[0 0 0 1 1 0 0 1 0 1 1 1 0 0 0 0 0 0 0 0 0 1 0 0 0 1 1 1 1 0 0 0 1 0 1 0 1
 1 0 1 0 0 0 0 0 0 1 1 1 1 1 0 0 1 1 1 1 1 1 1 0 0 0 1 1 1 1 1 1 0 0 1 0 0
 1 0 0 0 1 1 1 1 0 1 1 0 1 0 0 0 1 0 0 1 0 1 0 1 0 0]

array([1, 1, 1, 0, 0, 1, 1, 0, 1, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0,
       1, 1, 1, 0, 0, 0, 0, 1, 1, 1, 0, 1, 0, 1, 0, 0, 1, 0, 1, 1, 1, 1,
       1, 1, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 0, 0, 0,
       0, 0, 0, 1, 1, 0, 1, 1, 0, 1, 1, 1, 0, 0, 0, 0, 1, 0, 0, 1, 0, 1,
       1, 1, 0, 1, 1, 0, 1, 0, 1, 0, 1, 1])

In [ ]:
Z = np.random.uniform(-1.0,1.0,100)
np.negative(Z, out=Z) # 원소에 -1곱

array([ 0.884175  ,  0.43278047, -0.79514788,  0.54002299,  0.540784  ,
        0.27903511,  0.45828148, -0.35169   , -0.21738812, -0.09037748,
        0.61227068, -0.10849116, -0.44285851, -0.7153485 ,  0.92448375,
        0.01795382,  0.64468194,  0.52611918,  0.82557184,  0.51038964,
        0.38097881, -0.18070241, -0.67684912,  0.97837381, -0.44236063,
        0.87523376, -0.82410849,  0.306361  ,  0.73956841, -0.90985541,
       -0.29168211, -0.18449274, -0.81985211,  0.35144667, -0.87803919,
       -0.57978295, -0.0768969 , -0.66614886,  0.12131162, -0.01873863,
       -0.30422168, -0.51712008,  0.51282327,  0.28562965, -0.85888151,
       -0.0560712 , -0.24475472, -0.45290912,  0.84051257,  0.14084444,
        0.01718798, -0.13432433,  0.58769275, -0.63718372,  0.57684774,
        0.01875383, -0.17320491,  0.30920405, -0.17815106,  0.45759029,
        0.21911003,  0.31931226,  0.3645379 ,  0.54469886, -0.66378668,
        0.23116748,  0.02417311, -0.05115685,  0.48611845,  0.1524898 ,
        0.01546815, -0.75772579,  0.28583143,  0.456166  ,  0.63116433,
        0.8262289 , -0.57706266,  0.34229466,  0.92071754, -0.53585294,
       -0.91257564,  0.69757161,  0.15171689,  0.1095089 ,  0.90826221,
       -0.11467995,  0.79010174, -0.92325334,  0.41915504,  0.69230173,
       -0.88438194,  0.83769062,  0.95188631,  0.00768636, -0.13297867,
        0.81851692, -0.43809199,  0.66874824, -0.41558702,  0.46124775])

78. p에서 각 선(i)까지의 거리를 계산하는 방법은

In [ ]:
# 거리를 계산하는 함수
def distance(P0, P1, p):
    T = P1 - P0
    L = (T**2).sum(axis=1)
    U = -((P0[:,0]-p[...,0])*T[:,0] + (P0[:,1]-p[...,1])*T[:,1]) / L
    U = U.reshape(len(U),1)
    D = P0 + U*T - p
    return np.sqrt((D**2).sum(axis=1))

P0 = np.random.uniform(-10,10,(10,2))
P1 = np.random.uniform(-10,10,(10,2))
p  = np.random.uniform(-10,10,( 1,2))
print(distance(P0, P1, p))

[ 7.81332794  4.31115211  2.1011685  10.50085407  5.65121437  8.23431217
 11.67022669  7.45472858  0.66488818  6.84185485]

79. 각 점 j(P[j])에서 각 선 i(P0[i]까지의 거리를 계산하는 방법

In [ ]:
P0 = np.random.uniform(-10, 10, (10,2))
P1 = np.random.uniform(-10,10,(10,2))
p = np.random.uniform(-10, 10, (10,2))

print(np.array([distance(P0,P1,p_i) for p_i in p]))

[[ 2.61903274  0.74879626 10.14996773  5.77951226  9.75385264  4.23543906
   4.34248602  4.01892848  6.08063379  0.35816019]
 [ 7.39608494  6.80312487 13.91361147  4.79926097 10.38622119 10.61271135
   1.83844436  1.00550068 10.84245323  6.1339298 ]
 [ 9.84217757  6.8408766   1.63440829  0.53046136  1.81661216  7.05958599
  12.56690903  2.8279264   6.37384062  6.05979017]
 [ 6.50597001  2.51886337  0.23618625  5.0371131   1.67491231  0.73482546
   3.30922951  4.9387529   3.06891376  3.3838259 ]
 [ 1.06764539  0.96408962  6.07359479  1.88502602  5.51952985  2.49571934
   4.40632452  0.95138889  2.38604981  1.05361982]
 [ 1.39471029  1.62486596  8.60334008  3.72057167  7.73097822  4.18147014
   3.58897924  2.11244493  4.85044932  1.4373432 ]
 [ 2.16806925 10.36676915  7.58874544 11.56582475 12.98969156  5.44185131
  15.39752379 12.60926203  1.3291051  10.75217333]
 [ 2.89943262  0.05114008  4.31722054  1.01783897  4.27577341  0.90075106
   5.51859041  0.66547981  0.55484869  0.21608213]
 [ 1.90861123  2.67708527  4.74483215  0.58664536  3.27831839  3.18207158
   2.81876339  1.58429352  1.5365873   2.96642221]
 [ 3.30341675  2.32287229 10.51973919  4.96659945  9.30278017  5.60914616
   2.77650459  2.80742658  6.75999264  1.9306716 ]]

80.  임의 배열을 고려하여 지정된 요소(필요한 경우 채우기 값을 가진 패드)를 중심으로 아래의 추출 기능을 작성해보자

In [ ]:
Z = np.random.randint(0,10,(10,10))
shape = (5,5)
fill  = 0
position = (1,1)

In [ ]:
R = np.ones(shape, dtype=Z.dtype)*fill
P  = np.array(list(position)).astype(int)
Rs = np.array(list(R.shape)).astype(int)
Zs = np.array(list(Z.shape)).astype(int)

In [ ]:
R_start = np.zeros((len(shape),)).astype(int)
R_stop  = np.array(list(shape)).astype(int)
Z_start = (P-Rs//2)
Z_stop  = (P+Rs//2)+Rs%2

In [ ]:
R_start = (R_start - np.minimum(Z_start,0)).tolist()
Z_start = (np.maximum(Z_start,0)).tolist()
R_stop = np.maximum(R_start, (R_stop - np.maximum(Z_stop-Zs,0))).tolist()
Z_stop = (np.minimum(Z_stop,Zs)).tolist()

In [ ]:
r = [slice(start,stop) for start,stop in zip(R_start,R_stop)]
z = [slice(start,stop) for start,stop in zip(Z_start,Z_stop)]
R[r] = Z[z]

print(Z)
print(R)

[[0 4 6 3 6 1 1 6 5 8]
 [7 3 7 3 0 6 7 6 4 1]
 [3 5 1 3 2 9 1 0 6 0]
 [7 4 1 4 9 6 5 3 9 2]
 [1 2 9 7 3 6 2 5 8 8]
 [6 9 2 8 9 0 1 6 8 6]
 [0 5 9 6 2 2 7 9 2 2]
 [8 4 5 0 9 5 8 2 6 1]
 [7 0 6 9 2 9 9 4 4 8]
 [7 2 3 8 3 0 6 1 9 3]]
[[0 0 0 0 0]
 [0 0 4 6 3]
 [0 7 3 7 3]
 [0 3 5 1 3]
 [0 7 4 1 4]]

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: FutureWarning: Using a non-tuple sequence for multidimensional indexing is deprecated; use `arr[tuple(seq)]` instead of `arr[seq]`. In the future this will be interpreted as an array index, `arr[np.array(seq)]`, which will result either in an error or a different result.
  This is separate from the ipykernel package so we can avoid doing imports until

81. 배열 R × [1,2,3,4,5,6,7,8,9,10,11,3,13,14]을 생성하는 방법. 

배열 R × [[1,2,3,4,5], [3,4,6], [1,12,13,14], [1,12,13,14]

In [ ]:
Z = np.arange(1,15,dtype=np.uint32)
R = stride_tricks.as_strided(Z,(11,4),(4,4))

print(R)

[[ 1  2  3  4]
 [ 2  3  4  5]
 [ 3  4  5  6]
 [ 4  5  6  7]
 [ 5  6  7  8]
 [ 6  7  8  9]
 [ 7  8  9 10]
 [ 8  9 10 11]
 [ 9 10 11 12]
 [10 11 12 13]
 [11 12 13 14]]

82. 행렬 순위 계산

In [ ]:
Z = np.random.uniform(0,1,(10,10))
U, S, V = np.linalg.svd(Z) #특이값 분해

rank = np.sum(S > 1e-10)
print(rank)

10

83. 어레이에서 가장 빈번한 값을 찾는 방법

In [ ]:
Z = np.random.randint(0,10,50)
print(np.bincount(Z).argmax())

0

84. 임의의 10x10 매트릭스에서 모든 연속 3x3 블록 추출

In [ ]:
Z = np.random.randint(0,5,(10,10)) #10x10매트릭스

n = 3
i = 1 + (Z.shape[0]-3)
j = 1 + (Z.shape[1]-3)

C = stride_tricks.as_strided(Z, shape=(i, j, n, n), strides=Z.strides + Z.strides)
print(C)

[[[[1 1 3]
   [0 4 0]
   [3 3 0]]

  [[1 3 1]
   [4 0 2]
   [3 0 1]]

  [[3 1 0]
   [0 2 2]
   [0 1 4]]

  [[1 0 4]
   [2 2 3]
   [1 4 1]]

  [[0 4 1]
   [2 3 4]
   [4 1 2]]

  [[4 1 4]
   [3 4 3]
   [1 2 4]]

  [[1 4 2]
   [4 3 0]
   [2 4 4]]

  [[4 2 2]
   [3 0 1]
   [4 4 4]]]


 [[[0 4 0]
   [3 3 0]
   [0 1 1]]

  [[4 0 2]
   [3 0 1]
   [1 1 3]]

  [[0 2 2]
   [0 1 4]
   [1 3 2]]

  [[2 2 3]
   [1 4 1]
   [3 2 2]]

  [[2 3 4]
   [4 1 2]
   [2 2 4]]

  [[3 4 3]
   [1 2 4]
   [2 4 2]]

  [[4 3 0]
   [2 4 4]
   [4 2 0]]

  [[3 0 1]
   [4 4 4]
   [2 0 1]]]


 [[[3 3 0]
   [0 1 1]
   [3 2 4]]

  [[3 0 1]
   [1 1 3]
   [2 4 3]]

  [[0 1 4]
   [1 3 2]
   [4 3 4]]

  [[1 4 1]
   [3 2 2]
   [3 4 1]]

  [[4 1 2]
   [2 2 4]
   [4 1 3]]

  [[1 2 4]
   [2 4 2]
   [1 3 3]]

  [[2 4 4]
   [4 2 0]
   [3 3 0]]

  [[4 4 4]
   [2 0 1]
   [3 0 1]]]


 [[[0 1 1]
   [3 2 4]
   [4 4 4]]

  [[1 1 3]
   [2 4 3]
   [4 4 3]]

  [[1 3 2]
   [4 3 4]
   [4 3 1]]

  [[3 2 2]
   [3 4 1]
   [3 1 0]]

  [[2 2 4]
   [4 1 3]
   [1 0 2]]

  [[2 4 2]
   [1 3 3]
   [0 2 3]]

  [[4 2 0]
   [3 3 0]
   [2 3 0]]

  [[2 0 1]
   [3 0 1]
   [3 0 1]]]


 [[[3 2 4]
   [4 4 4]
   [1 2 1]]

  [[2 4 3]
   [4 4 3]
   [2 1 2]]

  [[4 3 4]
   [4 3 1]
   [1 2 4]]

  [[3 4 1]
   [3 1 0]
   [2 4 3]]

  [[4 1 3]
   [1 0 2]
   [4 3 4]]

  [[1 3 3]
   [0 2 3]
   [3 4 4]]

  [[3 3 0]
   [2 3 0]
   [4 4 2]]

  [[3 0 1]
   [3 0 1]
   [4 2 2]]]


 [[[4 4 4]
   [1 2 1]
   [4 3 4]]

  [[4 4 3]
   [2 1 2]
   [3 4 1]]

  [[4 3 1]
   [1 2 4]
   [4 1 3]]

  [[3 1 0]
   [2 4 3]
   [1 3 3]]

  [[1 0 2]
   [4 3 4]
   [3 3 4]]

  [[0 2 3]
   [3 4 4]
   [3 4 1]]

  [[2 3 0]
   [4 4 2]
   [4 1 3]]

  [[3 0 1]
   [4 2 2]
   [1 3 0]]]


 [[[1 2 1]
   [4 3 4]
   [1 2 2]]

  [[2 1 2]
   [3 4 1]
   [2 2 4]]

  [[1 2 4]
   [4 1 3]
   [2 4 1]]

  [[2 4 3]
   [1 3 3]
   [4 1 0]]

  [[4 3 4]
   [3 3 4]
   [1 0 4]]

  [[3 4 4]
   [3 4 1]
   [0 4 0]]

  [[4 4 2]
   [4 1 3]
   [4 0 4]]

  [[4 2 2]
   [1 3 0]
   [0 4 2]]]


 [[[4 3 4]
   [1 2 2]
   [2 3 1]]

  [[3 4 1]
   [2 2 4]
   [3 1 4]]

  [[4 1 3]
   [2 4 1]
   [1 4 1]]

  [[1 3 3]
   [4 1 0]
   [4 1 2]]

  [[3 3 4]
   [1 0 4]
   [1 2 4]]

  [[3 4 1]
   [0 4 0]
   [2 4 0]]

  [[4 1 3]
   [4 0 4]
   [4 0 4]]

  [[1 3 0]
   [0 4 2]
   [0 4 2]]]]

85. Z[i,j] [ Z[j,i]와 같은 2차원 어레이 하위 클래스 생성하기

In [ ]:
class Symetric(np.ndarray):
    def __setitem__(self, index, value):
        i,j = index
        super(Symetric, self).__setitem__((i,j), value)
        super(Symetric, self).__setitem__((j,i), value)

def symetric(Z):
    return np.asarray(Z + Z.T - np.diag(Z.diagonal())).view(Symetric)

S = symetric(np.random.randint(0,10,(5,5)))
S[2,3] = 42
print(S)

[[ 1 12  6  7 11]
 [12  5 14  4 10]
 [ 6 14  7 42 10]
 [ 7  4 42  6  3]
 [11 10 10  3  3]]

86. 형상 모수(n,n)와 형상 모수(n,1)가 있는 p 벡터의 집합(n,1)을 생각해보자. p 매트릭스 제품의 합계를 한 번에 계산하는 방법. (결과 모양은 (n,1)임)

In [ ]:
p, n = 10, 20

M = np.ones((p,n,n))
V = np.ones((p,n,1))
S = np.tensordot(M, V, axes=[[0, 2], [0, 1]]) # 지정 축을 따라 dot곱 계산
print(S)

[[200.]
 [200.]
 [200.]
 [200.]
 [200.]
 [200.]
 [200.]
 [200.]
 [200.]
 [200.]
 [200.]
 [200.]
 [200.]
 [200.]
 [200.]
 [200.]
 [200.]
 [200.]
 [200.]
 [200.]]

87. 블록 합을 얻는 방법(블록 크기는 4x4)인 16x16 어레이를 생각해보자.

In [ ]:
Z = np.ones((16,16))
k = 4
S = np.add.reduceat(np.add.reduceat(Z, np.arange(0, Z.shape[0], k), axis=0),
                                    np.arange(0, Z.shape[1], k), axis=1)
# np.add.reduceat : 주어진 배열의 인덱스를 고려하여 해당인덱스부터 끝까지의 합계를 구해 배열로 반환
print(S)

88. Numpy 어레이를 사용하여 `Game of Life`를 구현하는 방법

[라이프게임]( https://ko.wikipedia.org/wiki/%EB%9D%BC%EC%9D%B4%ED%94%84_%EA%B2%8C%EC%9E%84)

In [ ]:
def iterate(Z):
    # 이웃한 것 더하기
    N = (Z[0:-2,0:-2] + Z[0:-2,1:-1] + Z[0:-2,2:] +
         Z[1:-1,0:-2]                + Z[1:-1,2:] +
         Z[2:  ,0:-2] + Z[2:  ,1:-1] + Z[2:  ,2:])

    # 규칙 적용
    birth = (N==3) & (Z[1:-1,1:-1]==0)
    survive = ((N==2) | (N==3)) & (Z[1:-1,1:-1]==1)
    Z[...] = 0
    Z[1:-1,1:-1][birth | survive] = 1
    return Z

Z = np.random.randint(0,2,(50,50))
for i in range(100): Z = iterate(Z)
print(Z)

[[0 0 0 ... 0 0 0]
 [0 0 0 ... 0 0 0]
 [0 0 0 ... 0 0 0]
 ...
 [0 0 0 ... 0 0 0]
 [0 0 0 ... 0 0 0]
 [0 0 0 ... 0 0 0]]

89. 배열의 가장 큰 값을 얻는 방법

In [ ]:
Z = np.arange(10000)
np.random.shuffle(Z)
n = 5

In [ ]:
print (Z[np.argsort(Z)[-n:]])

[9995 9996 9997 9998 9999]

In [ ]:
# 다른 방법
print (Z[np.argpartition(-Z,n)[:n]])

[9999 9998 9997 9996 9995]

90. 임의의 수의 벡터가 주어지면 데카르트 제품(모든 항목의 모든 조합)을 작성한다

In [ ]:
def cartesian(arrays):
    arrays = [np.asarray(a) for a in arrays]
    shape = (len(x) for x in arrays)

    ix = np.indices(shape, dtype=int)
    ix = ix.reshape(len(arrays), -1).T

    for n, arr in enumerate(arrays):
        ix[:, n] = arrays[n][ix[:, n]]

    return ix

print (cartesian(([1, 2, 3], [4, 5], [6, 7])))

[[1 4 6]
 [1 4 7]
 [1 5 6]
 [1 5 7]
 [2 4 6]
 [2 4 7]
 [2 5 6]
 [2 5 7]
 [3 4 6]
 [3 4 7]
 [3 5 6]
 [3 5 7]]

91. 일반 배열에서 레코드 배열을 만드는 방법

In [ ]:
# 레코드 배열은 인덱스 대신 배열필드에 엑세스가능
Z = np.array([("Hello", 2.5, 3),
              ("World", 3.6, 2)])
R = np.core.records.fromarrays(Z.T, names='col1, col2, col3',
                               formats = 'S8, f8, i8')
print(R)

[(b'Hello', 2.5, 3) (b'World', 3.6, 2)]

92. 큰 벡터 Z를 구하자. 3가지 다른 방법을 사용하고 Z를 3의 제곱으로 구한다.

In [ ]:
x = np.random.rand(int(5e7))

%timeit np.power(x,3)

4.63 s ± 666 ms per loop (mean ± std. dev. of 7 runs, 1 loop each)

In [ ]:
%timeit x*x*x

222 ms ± 8.37 ms per loop (mean ± std. dev. of 7 runs, 1 loop each)

In [ ]:
%timeit np.einsum('i,i,i->i',x,x,x)

162 ms ± 7.45 ms per loop (mean ± std. dev. of 7 runs, 10 loops each)

93. 형상 (8,3)과 (2,2)의 배열 A와 B를 두 개의 배열로 간주한다. B의 원소의 순서에 상관없이 B의 각 행의 원소가 포함된 A 행을 찾는 방법은

In [ ]:
A = np.random.randint(0,5,(8,3))
B = np.random.randint(0,5,(2,2))

C = (A[..., np.newaxis, np.newaxis] == B)   # A에 2차원을 추가한 배열과 B 비교 
rows = np.where(C.any((3,1)).all(1))[0]     # 원소 4개 중 하나라도 같은것이 있는지 찾고
                                            # all메서드로 두 값이 모두 참인 행만 남겨 
                                            # where 메서드로 구한 값의 행 인덱스 추출 
print(rows)

[0 2 4 7]

94. 10x3 행렬에서 값이 동일하지 않은 행(예: [2,2,3])을 추출하자

In [ ]:
Z = np.random.randint(0,5,(10,3))
print(Z)
print("\n")

E = np.all(Z[:,1:] == Z[:,:-1], axis=1)
U = Z[~E]
print(U)
print("\n")

U = Z[Z.max(axis=1) != Z.min(axis=1),:]
print(U)

[[1 4 4]
 [0 0 2]
 [0 3 0]
 [0 0 4]
 [3 1 1]
 [1 4 3]
 [3 0 0]
 [3 0 2]
 [4 4 4]
 [4 0 2]]


[[1 4 4]
 [0 0 2]
 [0 3 0]
 [0 0 4]
 [3 1 1]
 [1 4 3]
 [3 0 0]
 [3 0 2]
 [4 0 2]]


[[1 4 4]
 [0 0 2]
 [0 3 0]
 [0 0 4]
 [3 1 1]
 [1 4 3]
 [3 0 0]
 [3 0 2]
 [4 0 2]]

95. 정수 벡터를 행렬 이진수 표현으로 변환

In [ ]:
I = np.array([0, 1, 2, 3, 15, 16, 32, 64, 128])

B = ((I.reshape(-1,1) & (2**np.arange(8))) != 0).astype(int) # 이진수로 변환 후 정수로 나타냄
print(B[:,::-1])

[[0 0 0 0 0 0 0 0]
 [0 0 0 0 0 0 0 1]
 [0 0 0 0 0 0 1 0]
 [0 0 0 0 0 0 1 1]
 [0 0 0 0 1 1 1 1]
 [0 0 0 1 0 0 0 0]
 [0 0 1 0 0 0 0 0]
 [0 1 0 0 0 0 0 0]
 [1 0 0 0 0 0 0 0]]

In [ ]:
# 또 다른 방법
I = np.array([0, 1, 2, 3, 15, 16, 32, 64, 128], dtype=np.uint8)
print(np.unpackbits(I[:, np.newaxis], axis=1))

[[0 0 0 0 0 0 0 0]
 [0 0 0 0 0 0 0 1]
 [0 0 0 0 0 0 1 0]
 [0 0 0 0 0 0 1 1]
 [0 0 0 0 1 1 1 1]
 [0 0 0 1 0 0 0 0]
 [0 0 1 0 0 0 0 0]
 [0 1 0 0 0 0 0 0]
 [1 0 0 0 0 0 0 0]]

96. 2차원 배열이 주어진 경우 고유 행을 추출하는 방법

In [ ]:
Z = np.random.randint(0,2,(6,3))

T = np.ascontiguousarray(Z).view(np.dtype((np.void, Z.dtype.itemsize * Z.shape[1])))

_, idx = np.unique(T, return_index=True) # 중복되지 않는 행 추출
uZ = Z[idx]
print(uZ)

[[0 0 0]
 [0 0 1]
 [0 1 0]
 [0 1 1]
 [1 0 0]]

In [ ]:
# 다른 방법
# numpy 버전 1.13에서 가능
uZ = np.unique(Z, axis=0)
print(uZ)

[[0 0 0]
 [0 0 1]
 [0 1 0]
 [0 1 1]
 [1 0 0]]

97. 2개의 벡터 A와 B로 내적, 외적, 합계 및 다중 함수에 해당하는 einsum을 작성하자

In [ ]:
A = np.random.uniform(0,1,10)
B = np.random.uniform(0,1,10)

np.einsum('i->', A)       # np.sum(A)
np.einsum('i,i->i', A, B) # A * B
np.einsum('i,i', A, B)    # np.inner(A, B)
np.einsum('i,j->ij', A, B)    # np.outer(A, B)

array([[0.00368634, 0.04291773, 0.00430578, 0.02191295, 0.03937891,
        0.0042984 , 0.05580684, 0.0022348 , 0.04954046, 0.05103313],
       [0.00845714, 0.09846114, 0.00987824, 0.05027232, 0.09034243,
        0.00986131, 0.12803111, 0.00512705, 0.11365488, 0.11707934],
       [0.05133525, 0.59766375, 0.0599614 , 0.30515533, 0.54838277,
        0.05985862, 0.77715485, 0.03112141, 0.68989046, 0.71067708],
       [0.03911943, 0.45544272, 0.04569289, 0.23254007, 0.41788872,
        0.04561457, 0.59222182, 0.02371571, 0.52572301, 0.54156321],
       [0.03371055, 0.39247057, 0.03937513, 0.20038774, 0.36010901,
        0.03930763, 0.5103378 , 0.02043664, 0.4530335 , 0.46668355],
       [0.01079252, 0.12565051, 0.01260605, 0.06415467, 0.11528987,
        0.01258444, 0.16338602, 0.00654284, 0.1450399 , 0.14940999],
       [0.01157249, 0.13473117, 0.01351708, 0.06879108, 0.12362178,
        0.01349391, 0.1751938 , 0.00701569, 0.15552181, 0.16020774],
       [0.04770361, 0.55538291, 0.05571952, 0.28356757, 0.50958824,
        0.05562401, 0.72217617, 0.02891977, 0.64108517, 0.66040128],
       [0.01199436, 0.13964274, 0.01400984, 0.07129883, 0.12812836,
        0.01398583, 0.18158042, 0.00727144, 0.1611913 , 0.16604804],
       [0.00431107, 0.05019108, 0.00503549, 0.02562657, 0.04605252,
        0.00502685, 0.06526452, 0.00261354, 0.05793616, 0.0596818 ]])

98. 두 벡터(X,Y)가 나타내는 경로를 고려할 때 등거리 샘플을 사용하여 샘플링하는 방법

In [ ]:
phi = np.arange(0, 10*np.pi, 0.1)
a = 1
x = a*phi*np.cos(phi)
y = a*phi*np.sin(phi)

dr = (np.diff(x)**2 + np.diff(y)**2)**.5 # 세그먼트 길이
r = np.zeros_like(x)
r[1:] = np.cumsum(dr)                # 경로 더함
r_int = np.linspace(0, r.max(), 200) # 일정 간격으로 된 경로
x_int = np.interp(r_int, r, x)       # 더한 경로
y_int = np.interp(r_int, r, y)

99. 정수 n과 2차원 배열 X가 주어진 경우, n도의 다항 분포에서 추출한 것으로 해석할 수 있는 행, 즉 정수만 포함하는 행과 n의 합을 X에서 선택한다.

In [ ]:
X = np.asarray([[1.0, 0.0, 3.0, 8.0],
                [2.0, 0.0, 1.0, 1.0],
                [1.5, 2.5, 1.0, 0.0]])
n = 4
M = np.logical_and.reduce(np.mod(X, 1) == 0, axis=-1)
M &= (X.sum(axis=-1) == n)
print(X[M])

[[2. 0. 1. 1.]]

100. 1차원 배열 X의 평균에 대해 부트스트랩 95% 신뢰 구간 계산(즉, 배열 요소를 대체 N번으로 다시 표본 추출, 각 표본의 평균 계산, 평균에 대한 백분위수 계산)

- 부트스트랩 계산 : 표본으로 주어진 데이터를 기준으로 복원표집해 통계량을 구함

In [ ]:
X = np.random.randn(100) # 랜덤 구성된 1차원 어레이
N = 1000 # 부트스트랩 샘플 수

idx = np.random.randint(0, X.size, (N, X.size))

means = X[idx].mean(axis=1)

confint = np.percentile(means, [2.5, 97.5]) # 백분위로 값 구함
print(confint)

[-0.23564444  0.17896425]