# (실습) 판다스 데이터프레임

**필수 라이브러리**

In [5]:
import numpy as np
import pandas as pd

**질문 1**

아래 리스트를 이용하여 시리즈를 생성하라.

In [2]:
aList = [1, 3, 5, np.nan, 6, 8]

In [3]:
# pass와 None을 각각 적절한 명령문과 표현식으로 대체하라.

None

**질문 2**

`pd.date_range()` 함수는 시간으로 구성된 인덱스 자료형을 생성한다.
함수 호출에 사용된 키워드 인자의 의미는 다음과 같다.

- `start="20130101`: 2013년 1월 1일부터 시작
- `periods=6`: 첫째 인자로 지정된 시간부터 6 개의 시간 데이터 샘플 생성
- `freq="D"`: 시간 데이터 샘플을 일(day) 단위로 생성

In [4]:
dates = pd.date_range(start="20130101", periods=6, freq="D")
dates

DatetimeIndex(['2013-01-01', '2013-01-02', '2013-01-03', '2013-01-04',
               '2013-01-05', '2013-01-06'],
              dtype='datetime64[ns]', freq='D')

`dates`를 행 인덱스로, `['A', 'B', 'C', 'D']`를 열 인덱스로 사용하는(6, 4) 모양의 데이터프레임을 생성하여 `df` 변수에 할당하라.
단, 항목은 `np.random.randn(6, 4)`를 이용하여 생성한다.

In [5]:
np.random.seed(0)

# pass와 None을 각각 적절한 명령문과 표현식으로 대체하라.

None

**질문 3**

(1) 아래 사전을 이용하여 데이터프레임을 생성하여 `df1` 변수에 할당하라.

In [6]:
abcd_dict = {"A": 1.0,
             "B": pd.Series(1, index=list(range(4)), dtype="float32"),
             "C": np.array([3] * 4, dtype="int32"),
             "D": ["test", "train", "test", "train"]}

In [7]:
# pass와 None을 각각 적절한 명령문과 표현식으로 대체하라.

df1 = None
df1

(2) `df1`이 가리키는 데이터프레임의 열별 자료형을 확인하라.

In [8]:
# pass와 None을 각각 적절한 명령문과 표현식으로 대체하라.

None

**질문 4**

(1) `df`가 가리키는 데이터프레임의 처음 5행을 확인하라.

In [9]:
# pass와 None을 각각 적절한 명령문과 표현식으로 대체하라.

None

(2) `df`가 가리키는 데이터프레임의 마지막 5행을 확인하라.

In [10]:
# pass와 None을 각각 적절한 명령문과 표현식으로 대체하라.

None

**질문 5**

(1) `df`가 가리키는 데이터프레임의 행 라벨을 확인하라.

In [11]:
# pass와 None을 각각 적절한 명령문과 표현식으로 대체하라.

None

(2) `df`가 가리키는 데이터프레임의 열 라벨을 확인하라.

In [12]:
# pass와 None을 각각 적절한 명령문과 표현식으로 대체하라.

None

**질문 6**

(1) `df`가 가리키는 데이터프레임을 넘파이 어레이로 변환하라.

In [13]:
# pass와 None을 각각 적절한 명령문과 표현식으로 대체하라.

None

(1) `df1`이 가리키는 데이터프레임을 넘파이 어레이로 변환하라.

In [14]:
# pass와 None을 각각 적절한 명령문과 표현식으로 대체하라.

None

**질문 7**

`df`가 가리키는 데이터프레임에 속한 수치형 데이터의 분포를 확인하라.

In [15]:
# pass와 None을 각각 적절한 명령문과 표현식으로 대체하라.

None

## 문제

**질문 1**

아래 링크에 있는 `score.txt` 파일에는 
100명의 학생들의 국어, 영어, 수학, 사회, 과학 점수가 들어 있다.      
이 자료를 담은 데이터프레임 `df_score`를 만들어라.

In [6]:
score_url = "https://raw.githubusercontent.com/codingalzi/datapy/master/practices/data/score.txt"

In [7]:
df_score = pd.read_csv(score_url, sep=',', header=0)
df_score

    # 국어   영어   수학   사회   과학
0     15   16   21    0   14
1     96   91   14   11   75
2     49   63   15   18   61
3     54    4   20   21    1
4     46    8    7   23    9
..   ...  ...  ...  ...  ...
95    69   61   11   28   97
96    41   97   16   13    8
97     0   84   18    9   15
98    19   11   15    2   90
99     0    7   33    7   58

[100 rows x 5 columns]

In [8]:
columns_stipped = df_score.columns.str.strip("# ")
columns_stipped

Index(['국어', '영어', '수학', '사회', '과학'], dtype='object')

In [9]:
df_score.columns = columns_stipped
df_score

    국어  영어  수학  사회  과학
0   15  16  21   0  14
1   96  91  14  11  75
2   49  63  15  18  61
3   54   4  20  21   1
4   46   8   7  23   9
..  ..  ..  ..  ..  ..
95  69  61  11  28  97
96  41  97  16  13   8
97   0  84  18   9  15
98  19  11  15   2  90
99   0   7  33   7  58

[100 rows x 5 columns]

**질문 2**

`df_score`의 처음부터 5개의 행(row)을 확인하여라.

In [10]:
df_score.head(5)

   국어  영어  수학  사회  과학
0  15  16  21   0  14
1  96  91  14  11  75
2  49  63  15  18  61
3  54   4  20  21   1
4  46   8   7  23   9

**질문 3**

`df_score`의 마지막 10개의 행(row)을 확인하여라.

In [11]:
df_score.tail(10)

    국어  영어  수학  사회  과학
90  13  65  93  15  72
91  92  46  29  28   9
92  20  33  43   1  34
93  58  30   6  19  20
94  57  50  53  25  13
95  69  61  11  28  97
96  41  97  16  13   8
97   0  84  18   9  15
98  19  11  15   2  90
99   0   7  33   7  58