# (실습) 판다스 데이터프레임

**필수 라이브러리**

In [25]:
import numpy as np
import pandas as pd

**질문 1**

아래 리스트를 이용하여 시리즈를 생성하라.

In [27]:
aList = [1, 3, 5, np.nan, 6, 8]

In [28]:
pd.Series(aList)

0    1.0
1    3.0
2    5.0
3    NaN
4    6.0
5    8.0
dtype: float64

**질문 2**

`pd.date_range()` 함수는 시간으로 구성된 인덱스 자료형을 생성한다.
함수 호출에 사용된 키워드 인자의 의미는 다음과 같다.

- `start="20130101`: 2013년 1월 1일부터 시작
- `periods=6`: 첫째 인자로 지정된 시간부터 6 개의 시간 데이터 샘플 생성
- `freq="D"`: 시간 데이터 샘플을 일(day) 단위로 생성

In [29]:
dates = pd.date_range(start="20130101", periods=6, freq="D")
dates

DatetimeIndex(['2013-01-01', '2013-01-02', '2013-01-03', '2013-01-04',
               '2013-01-05', '2013-01-06'],
              dtype='datetime64[ns]', freq='D')

`dates`를 행 인덱스로, `['A', 'B', 'C', 'D']`를 열 인덱스로 사용하는(6, 4) 모양의 데이터프레임을 생성하여 `df` 변수에 할당하라.
단, 항목은 `np.random.randn(6, 4)`를 이용하여 생성한다.

In [30]:
np.random.seed(0)

df = pd.DataFrame(np.random.randn(6, 4), index=dates, columns=list("ABCD"))
df

                   A         B         C         D
2013-01-01  1.764052  0.400157  0.978738  2.240893
2013-01-02  1.867558 -0.977278  0.950088 -0.151357
2013-01-03 -0.103219  0.410599  0.144044  1.454274
2013-01-04  0.761038  0.121675  0.443863  0.333674
2013-01-05  1.494079 -0.205158  0.313068 -0.854096
2013-01-06 -2.552990  0.653619  0.864436 -0.742165

**질문 3**

(1) 아래 사전을 이용하여 데이터프레임을 생성하여 `df1` 변수에 할당하라.

In [33]:
abcd_dict = {"A": 1.0,
             "B": pd.Series(1, index=list(range(4)), dtype="float32"),
             "C": np.array([3] * 4, dtype="int32"),
             "D": ["test", "train", "test", "train"]}

In [34]:
df1 = pd.DataFrame(abcd_dict)
df1

     A    B  C      D
0  1.0  1.0  3   test
1  1.0  1.0  3  train
2  1.0  1.0  3   test
3  1.0  1.0  3  train

(2) `df1`이 가리키는 데이터프레임의 열별 자료형을 확인하라.

In [35]:
df1.dtypes

A    float64
B    float32
C      int32
D     object
dtype: object

**질문 4**

(1) `df`가 가리키는 데이터프레임의 처음 5행을 확인하라.

In [36]:
df.head()

                   A         B         C         D
2013-01-01  1.764052  0.400157  0.978738  2.240893
2013-01-02  1.867558 -0.977278  0.950088 -0.151357
2013-01-03 -0.103219  0.410599  0.144044  1.454274
2013-01-04  0.761038  0.121675  0.443863  0.333674
2013-01-05  1.494079 -0.205158  0.313068 -0.854096

(2) `df`가 가리키는 데이터프레임의 마지막 5행을 확인하라.

In [37]:
df.tail()

                   A         B         C         D
2013-01-02  1.867558 -0.977278  0.950088 -0.151357
2013-01-03 -0.103219  0.410599  0.144044  1.454274
2013-01-04  0.761038  0.121675  0.443863  0.333674
2013-01-05  1.494079 -0.205158  0.313068 -0.854096
2013-01-06 -2.552990  0.653619  0.864436 -0.742165

**질문 5**

(1) `df`가 가리키는 데이터프레임의 행 라벨을 확인하라.

In [38]:
df.index

DatetimeIndex(['2013-01-01', '2013-01-02', '2013-01-03', '2013-01-04',
               '2013-01-05', '2013-01-06'],
              dtype='datetime64[ns]', freq='D')

(2) `df`가 가리키는 데이터프레임의 열 라벨을 확인하라.

In [39]:
df.columns

Index(['A', 'B', 'C', 'D'], dtype='object')

**질문 6**

(1) `df`가 가리키는 데이터프레임을 넘파이 어레이로 변환하라.

In [40]:
df.to_numpy()

array([[ 1.76405235,  0.40015721,  0.97873798,  2.2408932 ],
       [ 1.86755799, -0.97727788,  0.95008842, -0.15135721],
       [-0.10321885,  0.4105985 ,  0.14404357,  1.45427351],
       [ 0.76103773,  0.12167502,  0.44386323,  0.33367433],
       [ 1.49407907, -0.20515826,  0.3130677 , -0.85409574],
       [-2.55298982,  0.6536186 ,  0.8644362 , -0.74216502]])

(1) `df1`이 가리키는 데이터프레임을 넘파이 어레이로 변환하라.

열별 자료형이 통일되지 않기에 `object`가 `dtype`으로 지정된다.

In [41]:
df1.to_numpy()

array([[1.0, 1.0, 3, 'test'],
       [1.0, 1.0, 3, 'train'],
       [1.0, 1.0, 3, 'test'],
       [1.0, 1.0, 3, 'train']], dtype=object)

**질문 7**

`df`가 가리키는 데이터프레임에 속한 수치형 데이터의 분포를 확인하라.

In [42]:
df.describe()

              A         B         C         D
count  6.000000  6.000000  6.000000  6.000000
mean   0.538420  0.067269  0.615706  0.380204
std    1.685238  0.590042  0.360293  1.239655
min   -2.552990 -0.977278  0.144044 -0.854096
25%    0.112845 -0.123450  0.345767 -0.594463
50%    1.127558  0.260916  0.654150  0.091159
75%    1.696559  0.407988  0.928675  1.174124
max    1.867558  0.653619  0.978738  2.240893