In [1]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

df = pd.read_csv('../data/nyc_taxi_2020-01.csv',
                usecols=['passenger_count',
                        'total_amount' , 'payment_type'],
                dtype={'passenger_count':np.float16, 'total_amount':np.float16, 'payment_type':np.float16})
df

         passenger_count  payment_type  total_amount
0                    1.0           1.0     11.273438
1                    1.0           1.0     12.296875
2                    1.0           1.0     10.796875
3                    1.0           1.0      8.156250
4                    1.0           2.0      4.800781
...                  ...           ...           ...
6405003              NaN           NaN     21.140625
6405004              NaN           NaN     62.468750
6405005              NaN           NaN     51.906250
6405006              NaN           NaN     30.218750
6405007              NaN           NaN     58.125000

[6405008 rows x 3 columns]

In [2]:
df.shape

(6405008, 3)

In [3]:
df.count()

passenger_count    6339567
payment_type       6339567
total_amount       6405008
dtype: int64

In [4]:
df = df.dropna().copy()

In [5]:
df2 = df.dropna()

In [6]:
df.count()

passenger_count    6339567
payment_type       6339567
total_amount       6339567
dtype: int64

In [7]:
df['passenger_count'] = df['passenger_count'].astype(np.int8)

In [8]:
df['payment_type'] = df['payment_type'].astype(np.int8)