In [1]:
import pandas as pd
from pandas import Series, DataFrame

df = pd.read_csv('https://api.blockchain.info/charts/market-price?format=csv',
                header=None,
                names=['date', 'value'])

In [9]:
df.tail(1)['value']

365    16606.77
Name: value, dtype: float64

In [5]:
df.loc[df['value'] == df['value'].min(), ['date', 'value']]

                    date     value
363  2022-11-22 00:00:00  15759.61

In [6]:
df.loc[df['value'] == df['value'].max(), ['date', 'value']]

                  date     value
2  2021-11-26 00:00:00  58935.45

In [10]:
df.tail(10).to_dict()

{'date': {356: '2022-11-15 00:00:00',
  357: '2022-11-16 00:00:00',
  358: '2022-11-17 00:00:00',
  359: '2022-11-18 00:00:00',
  360: '2022-11-19 00:00:00',
  361: '2022-11-20 00:00:00',
  362: '2022-11-21 00:00:00',
  363: '2022-11-22 00:00:00',
  364: '2022-11-23 00:00:00',
  365: '2022-11-24 00:00:00'},
 'value': {356: 16587.96,
  357: 16873.56,
  358: 16662.24,
  359: 16682.44,
  360: 16683.22,
  361: 16687.8,
  362: 16260.41,
  363: 15759.61,
  364: 16194.75,
  365: 16606.77}}

In [11]:
df.tail(5)

                    date     value
361  2022-11-20 00:00:00  16687.80
362  2022-11-21 00:00:00  16260.41
363  2022-11-22 00:00:00  15759.61
364  2022-11-23 00:00:00  16194.75
365  2022-11-24 00:00:00  16606.77

In [12]:
df.tail(5).min()

date     2022-11-20 00:00:00
value               15759.61
dtype: object