In [25]:
import pandas as pd
from pandas import Series, DataFrame

df_2019_jul = pd.read_csv('../data/nyc_taxi_2019-07.csv',
                usecols=['passenger_count', 
                        'total_amount', 'payment_type'])
df_2019_jul['year'] = 2019

df_2020_jul = pd.read_csv('../data/nyc_taxi_2020-07.csv',
                usecols=['passenger_count', 
                        'total_amount', 'payment_type'])
df_2020_jul['year'] = 2020

df = pd.concat([df_2019_jul, df_2020_jul])

In [26]:
# How many rides were taken in 2019 vs. 2020?
df.loc[df['year'] == 2019, 'total_amount'].count() - df.loc[df['year'] == 2020, 'total_amount'].count()

5510007

In [27]:
# How much money was collected in 2019 vs. 2020?
df.loc[df['year'] == 2019, 'total_amount'].sum().round(2) -  df.loc[df['year'] == 2020, 'total_amount'].sum().round(2)

108848979.24

In [28]:
# Did the proportion of trips with more than passenger change dramatically?
df.loc[(df['year'] == 2019) & 
       (df['passenger_count'] > 1), 'passenger_count'].count() / df.loc[df['year'] == 2019, 'payment_type'].count()

0.2833900000955953

In [29]:
df.loc[(df['year'] == 2020) & 
       (df['passenger_count'] > 1), 'passenger_count'].count() / df.loc[df['year'] == 2020, 'payment_type'].count()

0.2061513222563435

In [30]:
# Did people use cash less in 2019 or 2020?
df.loc[(df['year'] == 2019) & 
       (df['payment_type'] == 2), 'payment_type'].count() / df.loc[df['year'] == 2019, 'payment_type'].count()

0.2870595845428793

In [31]:
df.loc[(df['year'] == 2020) & 
       (df['payment_type'] == 2), 'payment_type'].count() / df.loc[df['year'] == 2020, 'payment_type'].count()

0.320558865998251

In [40]:
df_2019_jul.sample(3)

         passenger_count  payment_type  total_amount  year
4913760              3.0           1.0         17.76  2019
57553                1.0           1.0         20.76  2019
2910004              1.0           1.0         25.55  2019

In [41]:
df_2020_jul.sample(3)

        passenger_count  payment_type  total_amount  year
252848              2.0           1.0         10.30  2020
615945              1.0           2.0          9.80  2020
349982              1.0           1.0         22.77  2020