In [1]:
import numpy as np
import pandas as pd

**문제 1: 성적 평균, 최댓값, 정렬**

A 학생의 월별 성적이다.

In [2]:
np.random.seed(0)

months = '3월 4월 5월 6월 9월 10월 11월 12월'.split()

scoreA = pd.Series(np.random.randint(50, 101, 8),
              index=months)
scoreA

3월     94
4월     97
5월     50
6월     53
9월     53
10월    89
11월    59
12월    69
dtype: int32

In [3]:
print(f'성적 전체 평균: {scoreA.mean()}')

성적 전체 평균: 70.5

In [4]:
first_semester_mean = scoreA['3월':'6월'].mean()
second_semester_mean = scoreA['9월':'12월'].mean()

print(f'1학기 평균: {first_semester_mean}')
print(f'2학기 평균: {second_semester_mean}')
print(f'향상 정도: {second_semester_mean - first_semester_mean}')

1학기 평균: 73.5
2학기 평균: 67.5
향상 정도: -6.0

(1) 어느 달 성적이 가장 좋은가?

- 방식 1: 내림차순으로 정렬 후 첫째 항목

In [5]:
scoreA.sort_values(ascending=False).index[0]

'4월'

- `max()` 메서드와 부울 인덱싱 활용

In [6]:
scoreA[scoreA==scoreA.max()].index[0]

'4월'

(2) 평균이 가장 높았던 3개의 달을 확인하는 코드를 작성하라.
단, `sort_values()`와 `head()` 메서드를 연속으로 적용한다.

In [7]:
scoreA.sort_values(ascending=False).head(5)

4월     97
3월     94
10월    89
12월    69
11월    59
dtype: int32

(3) 학생들의 성적을 10 단위로 반올림하라. 예를 들어, 82점과 79점 모두 80점으로 반올림돼야 한다.
단, `round()` 메서드에 음수 인자를 사용한다.

In [8]:
scoreA.round(-1)

3월      90
4월     100
5월      50
6월      50
9월      50
10월     90
11월     60
12월     70
dtype: int32

**문제 2: 두 학생 성적 비교**

B 학생의 월별 성적이다.

In [9]:
np.random.seed(10)

months = '9월 10월 11월 12월 3월 4월 5월 6월'.split()

scoreB = pd.Series(np.random.randint(50, 101, 8),
              index=months)
scoreB

9월     59
10월    86
11월    65
12월    50
3월     99
4월     78
5월     75
6월     79
dtype: int32

A, B 두 학생의 합은 인덱스별로 계산된다.

In [10]:
scoreA + scoreB

10월    175
11월    124
12월    119
3월     193
4월     175
5월     125
6월     132
9월     112
dtype: int32

따라서 A, B 두 학생 성적의 월별 평균값은 다음과 같다.

In [11]:
(scoreA + scoreB)/2

10월    87.5
11월    62.0
12월    59.5
3월     96.5
4월     87.5
5월     62.5
6월     66.0
9월     56.0
dtype: float64

A, B 두 학생의 전체 평균값은 `mean()` 메서드를 이용한다.

In [12]:
((scoreA + scoreB)/2).mean()

72.1875

(1) 평균과 표준편차: 시리즈와 상수의 연산엔 브로드캐스팅이 작동

- B 학생의 성적이 평균 + 표준편차보다 높을 때를 확인하는 표현식을 작성하라.

In [13]:
scoreB[scoreB > scoreB.mean() + scoreB.std()]

3월    99
dtype: int32

- B 학생의 성적이 평균 보다는 높지만 평균 + 표준편차보다는 낮을 때를 확인하는 표현식을 작성하라.

In [14]:
scoreB[(scoreB < scoreB.mean() + scoreB.std()) & (scoreB > scoreB.mean())]

10월    86
4월     78
5월     75
6월     79
dtype: int32

- B 학생의 성적이 평균 보다는 낮지만 (평균 - 표준편차)보다는 높을 때를 확인하는 표현식을 작성하라.

In [15]:
scoreB[(scoreB > scoreB.mean() - scoreB.std()) & (scoreB < scoreB.mean())]

9월     59
11월    65
dtype: int32

- B 학생의 성적이 (평균 - 표준편차)보다도 낮을 때를 확인하는 표현식을 작성하라.

In [16]:
scoreB[scoreB < scoreB.mean() - scoreB.std()]

12월    50
dtype: int32

(2) 평균값으로부터 표준편차의 2배보다 큰 차이를 보인 점수가 있는 달이 언제인지를 확인하는 표현식을 작성하라.

In [17]:
scoreB[(scoreB < scoreB.mean()-2*scoreB.std())  |
       (scoreB > scoreB.mean()+2*scoreB.std())]

Series([], dtype: int32)

(3) 평균값(mean)과 중앙값의 차이를 확인하는 표현식을 작성하라.

In [18]:
scoreB.mean() - scoreB.median()

-2.625

**문제 3: 자리수 계산**

In [19]:
np.random.seed(0)

s = pd.Series(np.random.randint(0, 100, 10))
s

0    44
1    47
2    64
3    67
4    67
5     9
6    83
7    21
8    36
9    87
dtype: int32

10의 자리수로 이뤄진 시리즈를 구하라.

In [20]:
s//10

0    4
1    4
2    6
3    6
4    6
5    0
6    8
7    2
8    3
9    8
dtype: int32

한자리 숫자이기에 메모리를 아끼기 위해 `int8`을 자료형으로 지정할 수 있다.

In [21]:
(s//10).astype('i1') # 또는 'np.int8' 지정

0    4
1    4
2    6
3    6
4    6
5    0
6    8
7    2
8    3
9    8
dtype: int8

문자열을 이용하는 아래 방식도 가능하다.

- `str` 속성은 모든 항목을 문자열로 변환된 벡터를 가라킴.
- 문자열 변환된 벡터에 대한 인덱싱 가능. `get(인덱스)` 메서드 또는 `[인덱스]` 기호 활용.

In [22]:
s.astype(str).str.get(-2)

0      4
1      4
2      6
3      6
4      6
5    NaN
6      8
7      2
8      3
9      8
dtype: object

그런데 일부 숫자가 한 자리이기에 결측치가 발생한다.
따라서 결측치를 0으로 대체한다. 
단 다른 값들이 문자열이기에 여기서도 문자열 `0`을 사용한다.

In [23]:
s.astype(str).str.get(-2).fillna('0')

0    4
1    4
2    6
3    6
4    6
5    0
6    8
7    2
8    3
9    8
dtype: object

In [24]:
s.astype(str).str[-2].fillna('0')

0    4
1    4
2    6
3    6
4    6
5    0
6    8
7    2
8    3
9    8
dtype: object

모든 값을 정수형으로 변환해도 된다.

In [25]:
s.astype(str).str.get(-2).fillna('0').astype(np.int8)

0    4
1    4
2    6
3    6
4    6
5    0
6    8
7    2
8    3
9    8
dtype: int8

(1) 문자열을 활용하는 방식을 이용하여 100의 자리수로 이뤄진 시리즈를 구하라.

In [26]:
np.random.seed(17)

s = pd.Series(np.random.randint(0, 10000, 10))
s

0    2191
1     406
2    9529
3    6061
4    8470
5    9247
6    3623
7    4564
8    2945
9    1774
dtype: int32

In [27]:
s.astype(str).str.get(-3)

0    1
1    4
2    5
3    0
4    4
5    2
6    6
7    5
8    9
9    7
dtype: object

(2) `s`를 `int8`, `uint8`, `int16` 자료형으로 표현하고 그 결과를 설명하라.

In [28]:
s.astype(np.int8)

0   -113
1   -106
2     57
3    -83
4     22
5     31
6     39
7    -44
8   -127
9    -18
dtype: int8

In [29]:
s.astype(np.uint8)

0    143
1    150
2     57
3    173
4     22
5     31
6     39
7    212
8    129
9    238
dtype: uint8

In [30]:
s.astype(np.int16)

0    2191
1     406
2    9529
3    6061
4    8470
5    9247
6    3623
7    4564
8    2945
9    1774
dtype: int16

(3) 100에서 10000 사이에서 임의로 10개의 부동소수점을 생성한 다음에 정수 부분이 홀수인 숫자로만 이뤄진 시리즈를 구하라.
단, `np.random.rand()` 함수를 이용한다.

In [31]:
np.random.seed(17)

s = pd.Series(np.random.rand(10) * 1000)
s

0    294.665003
1    530.586756
2    191.520787
3     67.900358
4    786.985460
5    656.333522
6    637.520896
7    575.602894
8     39.062916
9    357.813604
dtype: float64

In [32]:
s[s.astype(np.int64) % 2 == 0]

0    294.665003
1    530.586756
4    786.985460
5    656.333522
dtype: float64

**문제 4: 표준편차 의미**

In [33]:
np.random.seed(0)

s = pd.Series(np.random.normal(0, 100, 100_000))
s

0        176.405235
1         40.015721
2         97.873798
3        224.089320
4        186.755799
            ...
99995    -33.771476
99996   -202.854844
99997     72.618198
99998   -116.783052
99999   -128.520765
Length: 100000, dtype: float64

(1) 평균값을 중심으로 1 표준편차, 2 표준편차, 3 표준편차 범위 안에 있는 데이터 수의 비율이 각각
68%, 95%, 99.7% 정도임을 확인하라.

- 1 표준편차 범위

In [34]:
mask = (s > s.mean() - s.std()) & (s < s.mean() + s.std())
s[mask].count() / 100_000

0.68463

- 2 표준편차 범위

In [35]:
mask = (s > s.mean() - 2*s.std()) & (s < s.mean() + 2*s.std())
s[mask].count() / 100_000

0.95382

- 3 표준편차 범위

In [36]:
mask = (s > s.mean() - 3*s.std()) & (s < s.mean() + 3*s.std())
s[mask].count() / 100_000

0.99714

(1) 평균값 `s.mean()` 보다 작은 값들의 평균값과 큰 값들의 평균값의 평균값이 `s.mean()`과 동일한지 여부를 확인하라.

- 평균값도 작은 값과 큰 값들의 평균값

In [37]:
(s[s < s.mean()].mean() + s[s > s.mean()].mean() ) / 2

0.1529017934377066

- 평균값과 매우 비슷함

In [38]:
s.mean()

0.15767005081253402

(3) 평균값으로부터 3 표준편차 이상 떨어진 값들의 평균값은?

In [39]:
mask = (s < s.mean() - 3*s.std()) | (s > s.mean() + 3*s.std())

In [40]:
s[mask].mean()

-2.357791086185572

**문제 5: 요일별 온도**

- 요일(일주일

In [41]:
np.random.seed(0)

days = 'Sun Mon Tue Wed Thu Fri Sat'.split()

- 온도: 28일 동안

In [42]:
s = pd.Series(np.random.normal(20, 5, 28), index=days*4).round().astype(np.int8)
s

Sun    29
Mon    22
Tue    25
Wed    31
Thu    29
Fri    15
Sat    25
Sun    19
Mon    19
Tue    22
Wed    21
Thu    27
Fri    24
Sat    21
Sun    22
Mon    22
Tue    27
Wed    19
Thu    22
Fri    16
Sat     7
Sun    23
Mon    24
Tue    16
Wed    31
Thu    13
Fri    20
Sat    19
dtype: int8

(1) 주말(토요일과 일요일)의 평균 온도를 계산하라.

In [43]:
s[['Sun', 'Sat']].mean()

20.625

(2) 전날과의 온도차가 2도 이상인 날의 횟수를 계산하라.
단, `diff()` 메서드를 이용한다.

In [44]:
s[s.diff() > 2] # periods=1 과 axis=0 이 기본값

Tue    25
Wed    31
Sat    25
Tue    22
Thu    27
Tue    27
Thu    22
Sun    23
Wed    31
Fri    20
dtype: int8

(3) 가장 자주 발생하는 온도 두 개와 가각 사용된 횟수를 계산하라.
단, `valut_counts()` 메서드를 이용한다.

In [45]:
s.value_counts().head(2)

22    5
19    4
dtype: int64

**문제 6: 사분위수**

먼저 택시 승객수 데이터셋을 다운로드 한다.
택시가 총 9,999번 손님을 받을 때마다 함께 탐승한 승객수가 저장되어 있다.

In [66]:
base_url = 'https://raw.githubusercontent.com/codingalzi/datapy/master/practices/pandas-workout/data/'

In [47]:
s = pd.read_csv(base_url+'taxi-passenger-count.csv', header=None)
s

      0
0     1
1     1
2     1
3     1
4     1
...  ..
9994  1
9995  1
9996  1
9997  6
9998  1

[9999 rows x 1 columns]

- `squeeze()` 메서드는 1개의 열을 갖는 데이터프레임을 시리즈로 변환한다. 항목은 그대로 둔다.

In [48]:
s = s.squeeze()
s

0       1
1       1
2       1
3       1
4       1
       ..
9994    1
9995    1
9996    1
9997    6
9998    1
Name: 0, Length: 9999, dtype: int64

택시 승객수별 빈도수를 확인한다.

In [49]:
s.value_counts()

1    7207
2    1313
5     520
3     406
6     369
4     182
0       2
Name: 0, dtype: int64

`valule_counts()` 메서드의 `normalize=True` 키워드 인자를 지정하면
빈도수를 백분율로 계산한다.
아래 결과에 따르면 1인 승객의 비율이 72% 정도, 2인 승객의 비율이 13% 정도이다.

In [50]:
s.value_counts(normalize=True)

1    0.720772
2    0.131313
5    0.052005
3    0.040604
6    0.036904
4    0.018202
0    0.000200
Name: 0, dtype: float64

(1) 제1사분위수, 중앙값(median), 제3사분위수를 확인하라. 
코드를 실행하기 전에 사분위수를 예측할 수 있는가?

답변: 

- 1인 승객의 비율이 72% 정도이기에 제1사분위수와 중앙값은 1이다.
- 2인 승객의 비율이 13% 이기에 제3사분위수는 2가 된다. 이유는 72+13은 85가 되어 75%를 넘기 때문이다.

실제로 확인하면 예측과 동일하다.

- `quantile()` 메서드: 지정된 비율의 분위수 계산

In [51]:
s.quantile([.25, .50, .75])

0.25    1.0
0.50    1.0
0.75    2.0
Name: 0, dtype: float64

(2) 3인부터 6인 승객의 비율이 얼마인지 계산하라.

In [52]:
s.value_counts(normalize=True)[[3,4,5,6]].sum()

0.1477147714771477

(3) 택시 수를 늘리려 할 때 소형 택시와 대형 택시 중 어떤 택시를 보다 많이 인허가 해줘야 하는지 이유를 설명하라.

답변: 1, 2인 승객의 비율이 85%에 달하기에 소형 택식를 보다 많이 인허가 해줘야 한다.

**문제 7: 구간 쪼개기**

택시가 승객을 받을 때의 주행거리 데이터셋을 다운로드 한다.
승객 번호는 택시 승객수 데이터와 동일하다.

In [53]:
s = pd.read_csv(base_url+'taxi-distance.csv', header=None).squeeze()
s

0       1.63
1       0.46
2       0.87
3       2.13
4       1.40
        ...
9994    2.70
9995    4.50
9996    5.59
9997    1.54
9998    5.80
Name: 0, Length: 9999, dtype: float64

주행거리를 2km, 10km 기준으로 쪼개 총 3개의 구간으로 나눈다.

- 2km 미만: 단거리
- 2km에서 10km 미만: 중거리
- 10km 이상: 장거리

In [54]:
pd.cut(s, bins=[s.min()-1, 2, 10, s.max()], labels=['단거리', '중거리', '장거리'])

0       단거리
1       단거리
2       단거리
3       중거리
4       단거리
       ...
9994    중거리
9995    중거리
9996    중거리
9997    단거리
9998    중거리
Name: 0, Length: 9999, dtype: category
Categories (3, object): ['단거리' < '중거리' < '장거리']

구간별 항목수는 다음과 같다.

In [55]:
pd.cut(s, bins=[s.min()-1, 2, 10, s.max()], labels=['단거리', '중거리', '장거리']).value_counts()

단거리    5890
중거리    3402
장거리     707
Name: 0, dtype: int64

(1) 주행거리의 평균값과 중앙값을 비교한 다음에 그 결과를 설명하라.

`describe()` 메서드가 수치형 데이터 분포의 기본 정보를 확인해준다.

In [56]:
s.describe()

count    9999.000000
mean        3.158511
std         4.037516
min         0.000000
25%         1.000000
50%         1.700000
75%         3.300000
max        64.600000
Name: 0, dtype: float64

평균값이 중앙값보다 보다 많이 크다.
이런 이유는 보통 매우 큰 이상치가 존재하기 때문이다.
실제로 제3사분위수는 3.3km 인데 반해 최대 주행거리가 64.6km 이다.
또한 평균값이 3.16km 정도에 표준편차가 4km 정도이기에
이전에 확인한 대로 평균값으로부터 3 표준편차 이내에 위치한 데이터 샘플의 비율이 99.7%에 달한다.
그런데 표준편차가 4이기에 `[0, 3.16 + 3*4] = [0, 15.16]` 범위 안에 99.7%의 데이터가 포함되어야 한다.
그런데 최댓값 64.6은 여기에 포함되지 않는다.

(2) 1인 승객의 경우 단거리, 중거리, 장거리 주행은 각각 몇 번 발생했는가?

힌트: 택시 승객수 데이터셋을 이용하여 마스크를 생성한다.

- 택시 승객수 시리즈 생성

In [57]:
passenger_count = pd.read_csv(base_url+'taxi-passenger-count.csv', header=None).squeeze()

- 1인 승객 데이터

In [58]:
one_passengers = s[passenger_count == 1]

- 1인 승객 주행거리 빈도수

In [59]:
pd.cut(one_passengers, bins=[s.min(), 2, 10, s.max()], labels=['단거리', '중거리', '장거리']).value_counts()

단거리    4285
중거리    2387
장거리     487
Name: 0, dtype: int64

(3) 구간을 직접 지정하지 않고 `pd.cut()` 함수의 `bins=3` 키워드 인자를 이용하여
단순히 구간을 3개로 나누라고만 하면 어떤 일이 발생하는가?

- `retbins=True` 키워드 인자: 구간 분할에 사용된 구분점들의 리스트와 함께 튜플 반환

In [60]:
one_passenger_distance, labels = pd.cut(one_passengers, bins=3, labels=['단거리', '중거리', '장거리'], retbins=True)

In [61]:
one_passenger_distance

0       단거리
1       단거리
2       단거리
3       단거리
4       단거리
       ...
9993    단거리
9994    단거리
9995    단거리
9996    단거리
9998    단거리
Name: 0, Length: 7207, dtype: category
Categories (3, object): ['단거리' < '중거리' < '장거리']

구간 구분점들은 다음과 같이 주행거리 최솟값부터 최댓값을 정확히 3등분 한 지점들로 구성된다.

In [62]:
one_passengers.min()

0.0

In [63]:
one_passengers.max()

64.6

구간의 시작은 최솟값보다 조금 작은 값으로 자동 지정되며
구분점은 21.53과 43.07이다.
즉, 주행거리가 43.07km 이상되어야 장거리 주행으로 인정된다.

In [64]:
labels

array([-0.0646    , 21.53333333, 43.06666667, 64.6       ])

- 1인 승객 주행거리 구간별 빈도수

그런데 구간을 이렇게 나누면 1인 승객 장거리 주행의 경우의 수가 2로 너무 작아진다.

In [65]:
one_passenger_distance.value_counts()

단거리    7179
중거리      26
장거리       2
Name: 0, dtype: int64