In [1]:
import numpy as np
import pandas as pd

**문제 1**

A 학생의 월별 성적이다.

In [2]:
np.random.seed(0)

months = '3월 4월 5월 6월 9월 10월 11월 12월'.split()

scoreA = pd.Series(np.random.randint(50, 101, 8),
              index=months)
scoreA

3월     94
4월     97
5월     50
6월     53
9월     53
10월    89
11월    59
12월    69
dtype: int32

In [3]:
print(f'성적 전체 평균: {scoreA.mean()}')

성적 전체 평균: 70.5

In [4]:
scoreA['3월':'6월']

3월    94
4월    97
5월    50
6월    53
dtype: int32

In [5]:
first_semester_mean = scoreA['3월':'6월'].mean()
second_semester_mean = scoreA['9월':'12월'].mean()

print(f'1학기 평균: {first_semester_mean}')
print(f'2학기 평균: {second_semester_mean}')
print(f'향상 정도: {second_semester_mean - first_semester_mean}')

1학기 평균: 73.5
2학기 평균: 67.5
향상 정도: -6.0

(1) 어느 달 성적이 가장 좋은가?

- 방식 1: 내림차순으로 정렬 후 첫째 항목

In [6]:
scoreA.sort_values(ascending=False).index[0]

'4월'

- `max()` 메서드와 부울 인덱싱 활용

In [7]:
scoreA[scoreA==scoreA.max()].index[0]

'4월'

(2) 평균이 가장 높았던 월 5개를 확인하는 코드를 작성하라.
단, `sort_values()`와 `head()` 메서드를 연속으로 적용한다.

In [8]:
scoreA.sort_values(ascending=False).head(5)

4월     97
3월     94
10월    89
12월    69
11월    59
dtype: int32

(3) 학생들의 성적을 10 단위로 반올림하라. 예를 들어, 82점과 79점 모두 80점으로 반올림돼야 한다.
단, `round()` 메서드에 음수 인자를 사용한다.

In [9]:
scoreA.round(-1)

3월      90
4월     100
5월      50
6월      50
9월      50
10월     90
11월     60
12월     70
dtype: int32

**문제 2**

B 학생의 월별 성적이다.

In [10]:
np.random.seed(10)

months = '9월 10월 11월 12월 3월 4월 5월 6월'.split()

scoreB = pd.Series(np.random.randint(50, 101, 8),
              index=months)
scoreB

9월     59
10월    86
11월    65
12월    50
3월     99
4월     78
5월     75
6월     79
dtype: int32

두 학생의 합은 인덱스별로 계산된다.

In [12]:
scoreA + scoreB

10월    175
11월    124
12월    119
3월     193
4월     175
5월     125
6월     132
9월     112
dtype: int32

따라서 A, B 두 학생 성적의 월별 평균은 다음과 같다.

In [13]:
(scoreA + scoreB)/2

10월    87.5
11월    62.0
12월    59.5
3월     96.5
4월     87.5
5월     62.5
6월     66.0
9월     56.0
dtype: float64

두 학생의 전체 평균 계산은 `mean()` 메서드를 이용한다.

In [14]:
((scoreA + scoreB)/2).mean()

72.1875

(1) 평균과 표준편차: 시리즈와 상수의 연산엔 브로드캐스팅이 작동

- B 학생의 성적이 평균 + 표준편차보다 높을 때

In [15]:
scoreB[scoreB > scoreB.mean() + scoreB.std()]

3월    99
dtype: int32

- B 학생의 성적이 평균 보다는 높지만 평균 + 표준편차보다는 낮을 때

In [16]:
scoreB[(scoreB < scoreB.mean() + scoreB.std()) & (scoreB > scoreB.mean())]

10월    86
4월     78
5월     75
6월     79
dtype: int32

- B 학생의 성적이 평균 보다는 낮지만 (평균 - 표준편차)보다는 높을 때

In [17]:
scoreB[(scoreB > scoreB.mean() - scoreB.std()) & (scoreB < scoreB.mean())]

9월     59
11월    65
dtype: int32

- B 학생의 성적이 (평균 - 표준편차)보다도 낮을 때

In [18]:
scoreB[scoreB < scoreB.mean() - scoreB.std()]

12월    50
dtype: int32

(2) 평균값으로부터 표준편차의 2배보다 큰 차이를 보인 점수가 있는 달이 있는가?

In [23]:
scoreB[(scoreB < scoreB.mean()-2*scoreB.std())  |
       (scoreB > scoreB.mean()+2*scoreB.std())]

Series([], dtype: int32)

(3) 평균값(mean)과 중앙값의 차이는?

In [24]:
scoreB.mean() - scoreB.median()

-2.625

**문제 3**

In [39]:
np.random.seed(1234)

s = pd.Series(np.random.randint(0, 100, 10))
s

0    47
1    83
2    38
3    53
4    76
5    24
6    15
7    49
8    23
9    26
dtype: int32

10의 자리수로 이뤄진 시리즈를 구하라.

In [38]:
s//10

0    4
1    4
2    6
3    6
4    6
5    0
6    8
7    2
8    3
9    8
dtype: int32

한자리 숫자이기에 메모리를 아끼기 위해 `int8`을 자료형으로 지정할 수 있다.

In [40]:
(s//10).astype('i1')

0    4
1    8
2    3
3    5
4    7
5    2
6    1
7    4
8    2
9    2
dtype: int8

아래 방식도 가능하다.

In [41]:
(s / 10).astype(np.int8)

0    4
1    8
2    3
3    5
4    7
5    2
6    1
7    4
8    2
9    2
dtype: int8

(1) 문자열을 활용하는 방식을 이용하여 100의 자리수로 이뤄진 시리즈를 구하라.

In [73]:
np.random.seed(17)

s = pd.Series(np.random.randint(0, 10000, 10))
s

0    2191
1     406
2    9529
3    6061
4    8470
5    9247
6    3623
7    4564
8    2945
9    1774
dtype: int32

In [84]:
((s/100)%10).astype(np.int32)

0    1
1    4
2    5
3    0
4    4
5    2
6    6
7    5
8    9
9    7
dtype: int32

(2) `s`를 `int8`, `uint8`, `int16` 자료형으로 표현하고 그 결과를 설명하라.

In [85]:
s.astype(np.int8)

0   -113
1   -106
2     57
3    -83
4     22
5     31
6     39
7    -44
8   -127
9    -18
dtype: int8

In [86]:
s.astype(np.uint8)

0    143
1    150
2     57
3    173
4     22
5     31
6     39
7    212
8    129
9    238
dtype: uint8

In [87]:
s.astype(np.int16)

0    2191
1     406
2    9529
3    6061
4    8470
5    9247
6    3623
7    4564
8    2945
9    1774
dtype: int16

(3) 100에서 10000 사이에서 임의로 10개의 부동소수점을 생성한 다음에 정수 부분이 홀수일 숫자로만 이뤄진 시리즈를 구하라.
단, `np.random.rand()` 함수를 이용한다.

In [90]:
np.random.seed(17)

s = pd.Series(np.random.rand(10) * 1000)
s

0    294.665003
1    530.586756
2    191.520787
3     67.900358
4    786.985460
5    656.333522
6    637.520896
7    575.602894
8     39.062916
9    357.813604
dtype: float64

In [91]:
s[s.astype(np.int64) % 2 == 0]

0    294.665003
1    530.586756
4    786.985460
5    656.333522
dtype: float64

**문제 4**

In [65]:
np.random.seed(0)

s = pd.Series(np.random.normal(0, 100, 100_000))
s

0        176.405235
1         40.015721
2         97.873798
3        224.089320
4        186.755799
            ...
99995    -33.771476
99996   -202.854844
99997     72.618198
99998   -116.783052
99999   -128.520765
Length: 100000, dtype: float64

In [66]:
s.describe()

count    100000.000000
mean          0.157670
std          99.734467
min        -485.211765
25%         -66.864170
50%           0.172022
75%          67.343870
max         424.177191
dtype: float64

In [67]:
s.loc[s == s.min()] = 5*s.max()

In [68]:
s.describe()

count    100000.000000
mean          0.183731
std          99.947900
min        -465.995297
25%         -66.862839
50%           0.174214
75%          67.345174
max        2120.885956
dtype: float64

In [69]:
np.random.seed(0)

s = pd.Series(np.random.normal(0, 100, 100_000))
s

0        176.405235
1         40.015721
2         97.873798
3        224.089320
4        186.755799
            ...
99995    -33.771476
99996   -202.854844
99997     72.618198
99998   -116.783052
99999   -128.520765
Length: 100000, dtype: float64

# Beyond 1

Demonstrate that 68%, 95%, and 99.7% of the values in `s` are indeed within 1, 2, and 3 standard distributions of the mean.

In [70]:
# within one standard deviation
s[(s > s.mean() - s.std()) &
  (s < s.mean() + s.std())].count() / 100_000

0.68463

In [71]:
# within two standard deviations
s[(s > s.mean() - 2*s.std()) &
  (s < s.mean() + 2*s.std())].count() / 100_000

0.95382

In [72]:
# within three standard deviations
s[(s > s.mean() - 3*s.std()) &
  (s < s.mean() + 3*s.std())].count() / 100_000

0.99714

# Beyond 2

 Calculate the mean of numbers greater than `s.mean()`. Then calculate the mean of numbers less than `s.mean()`. Is the average of these two numbers the same as `s.mean()`?

In [73]:
(s[s < s.mean()].mean() + s[s > s.mean()].mean() ) / 2

0.1529017934377066

In [74]:
# They're pretty close!c
s.mean()

0.15767005081253402

# Beyond 3

What is the mean of the numbers beyond 3 standard deviations?

In [75]:
# A pretty complex combination of mask indexes,
# but the result is still a pd.Series, on which we can run mean()
s[(s < s.mean() - 3*s.std()) | 
  (s > s.mean() + 3*s.std()) ].mean()

-2.357791086185572

**문제 5**

In [82]:
np.random.normal(20, 5, 28)

array([27.66389607, 27.34679385, 20.77473713, 21.8908126 , 15.56107126,
       10.09601766, 18.26043925, 20.78174485, 26.1514534 , 26.01189924,
       18.06336591, 18.48848625, 14.75723517, 12.89991031, 11.46864905,
       29.75387698, 17.45173909, 17.80962849, 13.7360232 , 23.88745178,
       11.93051076, 18.9362986 , 15.52266719, 21.93451249, 17.44597431,
       14.09683908, 19.85908886, 22.14165935])

In [83]:
days = 'Sun Mon Tue Wed Thu Fri Sat'.split()

np.random.seed(0)
s = pd.Series(np.random.normal(20, 5, 28),      # 평균값, 표준편차, 어레이 모양
          index=days*4).round().astype(np.int8)

In [84]:
s

Sun    29
Mon    22
Tue    25
Wed    31
Thu    29
Fri    15
Sat    25
Sun    19
Mon    19
Tue    22
Wed    21
Thu    27
Fri    24
Sat    21
Sun    22
Mon    22
Tue    27
Wed    19
Thu    22
Fri    16
Sat     7
Sun    23
Mon    24
Tue    16
Wed    31
Thu    13
Fri    20
Sat    19
dtype: int8

In [85]:
s.loc['Mon'].mean()

21.75

# Beyond 1

What was the average temperature on weekends (i.e., Saturdays and Sundays)?

In [88]:
s[['Sun', 'Sat']].mean()

20.625

# Beyond 2

How many times will the change in temperature from the previous day be greater than 2 degrees?

In [89]:
# by default, the "diff" method compares with the previous element
s[s.diff() > 2]

Tue    25
Wed    31
Sat    25
Tue    22
Thu    27
Tue    27
Thu    22
Sun    23
Wed    31
Fri    20
dtype: int8

# Beyond 3

What are the two most common temperatures, and how often does each appear?

In [90]:
# value_counts returns a pd.Series in which the values from s are 
# the index, the number of appearances is the value, and the
# items are ordered from most common to least common. We can
# then use "head" to get only the 2 most common values.
s.value_counts().head(2)

22    5
19    4
dtype: int64

**문제 6**

In [12]:
taxi_passenger_url = 'https://raw.githubusercontent.com/codingalzi/datapy/master/practices/data/'

In [13]:
s = pd.read_csv(taxi_passenger_url+'taxi-passenger-count.csv', header=None).squeeze()

s.value_counts(normalize=True)[[1, 6]]

1    0.720772
6    0.036904
Name: 0, dtype: float64

In [14]:
s.value_counts()

1    7207
2    1313
5     520
3     406
6     369
4     182
0       2
Name: 0, dtype: int64

# Beyond 1

What are the 25%, 50% (median), and 75% quantiles for this data set? Can you guess the results before you execute the code?

In [15]:
# Since 1-passenger rides are 72% of the values, we can
# guess that the 25% and 50% marks will be 1, whereas 
# the 75% mark will be 2 or 3, depending on how common those are.
s.quantile([.25, .50, .75])

0.25    1.0
0.50    1.0
0.75    2.0
Name: 0, dtype: float64

# Beyond 2

What proportion of taxi rides are for 3, 4, 5, or 6 passengers?

In [16]:
s.value_counts(normalize=True)[[3,4,5,6]].sum()

0.1477147714771477

# Beyond 3

Consider that you're in charge of vehicle licensing for New York taxis. Given these numbers, would more people benefit from smaller taxis that can take only one or two passengers, or larger taxis that can take five or six passengers?

Given that a huge proportion of rides are for 1 or 2 passengers, licensing more small taxis would seem to match the needs.

**문제 7**

In [17]:
s = pd.read_csv(taxi_passenger_url+'taxi-distance.csv', header=None).squeeze()

In [18]:
pd.cut(s, bins=[s.min()-1, 2, 10, s.max()], 
       labels=['short', 'medium', 'long']).value_counts()

short     5890
medium    3402
long       707
Name: 0, dtype: int64

# Beyond 1

Compare the mean and median trip distances. What does that tell you about the distribution of our data?

In [19]:
s.describe()

count    9999.000000
mean        3.158511
std         4.037516
min         0.000000
25%         1.000000
50%         1.700000
75%         3.300000
max        64.600000
Name: 0, dtype: float64

Because the mean is significantly higher than the median, it would seem that there are some *very* long trips in our data set that are pulling the mean up. And sure enough, we see that the standard deviation is 4, but that we have at least one trip > 64 miles in length.

# Beyond 2

How many short, medium, and long trips were there for trips that had only one passenger? Note that data for passenger count and trip length are from the same data set, meaning that the indexes are the same.

In [20]:
passenger_count = pd.read_csv(taxi_passenger_url+'taxi-passenger-count.csv', header=None).squeeze()

pd.cut(s[passenger_count == 1], 
       bins=[s.min(), 2, 10, s.max()], 
       labels=['short', 'medium', 'long']).value_counts()

short     4285
medium    2387
long       487
Name: 0, dtype: int64

# Beyond 3

What happens if we don't pass explicit intervals, and instead ask `pd.cut` to just create 3 bins, with `bins=3`?

In [21]:
pd.cut(s[passenger_count == 1], 
       bins=3,
       labels=['short', 'medium', 'long'], retbins=True)

(0       short
 1       short
 2       short
 3       short
 4       short
         ...
 9993    short
 9994    short
 9995    short
 9996    short
 9998    short
 Name: 0, Length: 7207, dtype: category
 Categories (3, object): ['short' < 'medium' < 'long'],
 array([-0.0646    , 21.53333333, 43.06666667, 64.6       ]))

`pd.cut` took the interval from `s.min()` to `s.max()`, divided it into three equal parts, and assigned those to be `short`, `medium`, and `long`. We can see, though, that this meant our `long` category is from 43 miles to 64.6 miles -- numerically one-third of the values' interval, but only including a handful of values!