In [1]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

s = pd.read_csv('../data/nyc-temps.txt').squeeze()
df = DataFrame({'temp': s, 
                'hour': [0,3,6,9,12,15,18,21] * 91})

In [2]:
# Get the mean + median for baseline data
df['temp'].describe()

count    728.000000
mean      -1.050824
std        5.026357
min      -14.000000
25%       -4.000000
50%        0.000000
75%        2.000000
max       12.000000
Name: temp, dtype: float64

In [3]:
# Set temp at 3 and 6 a.m. to NaN
df.loc[(df['hour'] == 3) | (df['hour'] == 6), 'temp'] = np.NaN

In [4]:
# Interpolate!
df = df.interpolate()

In [5]:
# Get the mean + median for when we're missing 3 and 6 a.m.
df['temp'].describe()

count    728.000000
mean      -1.050824
std        5.026357
min      -14.000000
25%       -4.000000
50%        0.000000
75%        2.000000
max       12.000000
Name: temp, dtype: float64

In [22]:
df

     temp  hour
0    -1.0     0
1     NaN     3
2     NaN     6
3    20.0     9
4    -1.0    12
..    ...   ...
723   2.0     9
724   2.0    12
725   2.0    15
726   2.0    18
727   2.0    21

[728 rows x 2 columns]

In [23]:
df = df[:6]

In [24]:
df

   temp  hour
0  -1.0     0
1   NaN     3
2   NaN     6
3  20.0     9
4  -1.0    12
5  -1.0    15

In [25]:
df['temp'] = [-1, np.nan, np.nan, 5, -1, np.nan, 3]

ValueError: Length of values (7) does not match length of index (6)

In [27]:
df.loc[6] = [3, 18]

/var/folders/rr/0mnyyv811fs5vyp22gf4fxk00000gn/T/ipykernel_38049/3749066520.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.loc[6] = [3, 18]

In [28]:
df

   temp  hour
0  -1.0     0
1   NaN     3
2   NaN     6
3  20.0     9
4  -1.0    12
5  -1.0    15
6   3.0    18

In [29]:
df = df.copy()

In [30]:

df['temp'] = [-1, np.nan, np.nan, 5, -1, np.nan, 3]

In [31]:
df

   temp  hour
0  -1.0     0
1   NaN     3
2   NaN     6
3   5.0     9
4  -1.0    12
5   NaN    15
6   3.0    18

In [32]:
df.interpolate()

   temp  hour
0  -1.0     0
1   1.0     3
2   3.0     6
3   5.0     9
4  -1.0    12
5   1.0    15
6   3.0    18

In [35]:
df.head(15).to_dict()

{'temp': {0: -1.0, 1: nan, 2: nan, 3: 5.0, 4: -1.0, 5: nan, 6: 3.0},
 'hour': {0: 0, 1: 3, 2: 6, 3: 9, 4: 12, 5: 15, 6: 18}}